<template>
<div class="admin">
  <h1>Admin page</h1>
  <p>
    Here we can add new students and create new groups etc
  </p>
</div>
</template>

<script>
export default {
    name: 'Admin'
}
</script>
