<template>
<div class="admin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h1>Запись в группы</h1>
	<p>
	  Здесь можно добавлять новых учеников и править данные имеющихся
	</p>
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
	  
	<form-wizard ref="wizard" color="#3498db" nextButtonText="вперед" backButtonText="назад" title="Добавление ученика" subtitle="Добавление учеников в группы" finishButtonText="записать" @on-error="handleErrorMessage" @on-complete="addStudentToGroup">
	  
	  <tab-content title="Персональные данные" :before-change="validateStudentData" >
	    <div class="row">
	      <div class="col-md-4 offset-md-4">
		<form v-on:submit.prevent>
		  <div class="form-group col-md-12">
		    <span :v-model="filterMessage">{{filterMessage}}</span>
		    <input v-model="studentFilterData" type="text" class="form-control" id="searchStudents" placeholder="имя, телефон или email"  @input="studentFilter()" aria-describedby="studentSearchHelp">
		    <small id="studentSearchHelp" class="form-text text-muted">
		      поиск учеников
		    </small>
		  </div>
		</form>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12">
		<button type="button" v-for="st in students" class="btn btn-outline-secondary mt-2 ml-2 mb-2" v-on:click="editStudent(st.id)">{{ st.name }}  {{st.age ? st.age + ' лет' : ''}} <img src="@/assets/chevron-right.svg"></button> 
	      </div>
	      <div class="col-md-12">
		<form v-on:submit.prevent>
		  <div class="form-row">
		    <div class="form-group col-md-3">
		      <input v-model="studentBdate" class="form-control" type="date" id="studentBdate" aria-describedby="studentBdateHelp">
		      <small id="studentBdateHelp" class="form-text text-muted">
			дата рождения
		      </small>

		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentName" type="text" class="form-control" id="inputName" placeholder="Имя" required aria-describedby="studentNameHelp">
		      <small id="studentNameHelp" class="form-text text-muted">
			имя, фамилия
		      </small>
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentPhone" type="text" class="form-control" id="inputPhone" placeholder="Телефон" aria-describedby="studentPhoneHelp">
		      <small id="studentPhoneHelp" class="form-text text-muted">
			телефон
		      </small>
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentEmail" type="email" class="form-control" id="inputEmail" placeholder="эл. почта" aria-describedby="studentEmailHelp">
		      <small id="studentEmailHelp" class="form-text text-muted">
			эл. почта
		      </small>
		    </div>
		  </div>
		</form>
	      </div>
	    </div>
	  </tab-content>
	  <tab-content title="Выбор тренировки">
	    <div class="row">
	      <div class="col-md-12">
		{{ this.studentName }}
		<form v-on:submit.prevent="findLessons">
		  <div class="form-row">
		    <div class="form-group col-md-2">
		      <input v-model="lessonDate"  class="form-control" type="date" id="lessonDate" aria-describedby="lessonDateHelp">
		      <small id="lessonDateHelp" class="form-text text-muted">
			дата тренировки
		      </small>
		    </div>

		    <div class="form-group col-md-2">
		      <input v-model="lessonTime"  class="form-control" type="time" id="lessontime" aria-describedby="lessonTimeHelp">
		      <small id="lessonTimeHelp" class="form-text text-muted">
			время тренировки
		      </small>
		    </div>

		    <div class="form-group col-md-2">
     		      <select v-model="lessonGym" class="form-control" id="inputGym" placeholder="зал" aria-describedby="lessonGymHelp">
			<option value="" selected>зал</option>
			<option :value="gym" v-for="gym in gyms">{{gym.name}}</option>
		      </select>
		      <small id="lessonGymHelp" class="form-text text-muted">
			площадка
		      </small>
		      
		    </div>
		    
		    <div class="form-group col-md-2">
		      <select v-model="lessonTrainer" class="form-control" id="inputTrainer" placeholder="тренер" aria-describedby="lessonTrainerHelp">
			<option value="" selected>тренер</option>
			<option :value="trainer" v-for="trainer in trainers">{{trainer.name}}</option>
		      </select>
		      <small id="lessonTrainerHelp" class="form-text text-muted">
			тренер
		      </small>
		    </div>

		    <div class="form-group col-md-2">
		      <select v-model="lessonType" class="form-control" id="inputLessonType" placeholder="тип тренировки" aria-describedby="lessonTypeHelp">
			<option :value="ltype.ltype" v-for="ltype in lessontypes">{{ltype.name}}</option>
		      </select>
		      <small id="lessonTypeHelp" class="form-text text-muted">
			тип тренировки
		      </small>
		    </div>
		    
		    <div class="form-group col-md-1">
		      <button class="btn btn-primary" type="submit">Найти</button>
		    </div>
		    
		    <div class="form-group col-md-1">
		      <a type="button" class="btn btn-primary text-white" v-if='this.lessonType != "group"' @click="createLesson">Создать</a>
		    </div>
		    
		  </div>
		  
		  
		  <!-- <div class="form-group col-md-3">
		      <select v-model="studentGroups" @change="groupChange()" class="form-control" id="inputGroup" placeholder="группа">
			<option value="" selected >группы</option>
			<option :value="group" v-for="group in groups">{{group.name}} ({{group.minage}}-{{group.maxage}})</option>
		      </select>
		    </div>
		    <div class="form-group col-md-3">
     		      <select v-model="lessonGym" @change="gymChange()" class="form-control" id="inputGym" placeholder="зал">
			<option value="" selected>зал</option>
			<option :value="gym" v-for="gym in gyms">{{gym.name}}</option>
		      </select>
		    </div>
		    <div class="form-group col-md-3">
		      <select v-model="lessonTrainer" @change="trainerChange()" class="form-control" id="inputTrainer" placeholder="тренер">
			<option value="" selected>тренер</option>
			<option :value="trainer" v-for="trainer in trainers">{{trainer.name}}</option>
		      </select>
		    </div>
		  </div>
		-->
		
		  <div class="form-row">
		    <div class="card-deck">
		      <div class="card mb-3" v-for="day, key in fdays">
			<div class="card-header bg-info text-light">
			  {{key | moment("dddd, Do MMMM YYYY")}}
			</div>
			<div class="card-body">
			  <div class="form-check" v-for="l in day">
			    <input :key="l.id" type="checkbox" v-model="selectedLessons" :value="l"> {{l.start | moment("utc", "HH:mm")}} - {{l.end | moment("utc", "HH:mm")}} {{l.gym}} {{l.group}} ({{l.group_minage}}-{{l.group_maxage}}) {{l.trainer}} <groupbadge :numstudents="l.numstudents"></groupbadge>
			  </div>
			</div>
			<div class="card-footer text-muted">
			  
			</div>
		      </div>
		    </div>
		  </div>
		</form>
	      </div>
	    </div>
	  </tab-content>
	  <tab-content title="Запись">
	    <div class="row">
	      <div class="col-md-12">
		
		Проверка:
		Записать {{this.studentName}} <p v-for="l in selectedLessons">в группу {{l.group}}, к тренеру {{l.trainer}}, в {{l.start | moment("utc", "dddd, Do MMMM")}} </p>  
	      </div>
	    </div>
	  </tab-content>
	  <div v-if="errorMsg">
	    <span class="error">{{errorMsg}}</span>
	  </div>
	</form-wizard>
	
      </div>
    </div>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import Groupbadge from './Badge.vue'
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
export default {
    name: 'Admin',
    components: {
	Groupbadge,
	FormWizard,
	TabContent
	},
    data: function() {
	return {
	    existingStudent: false,
	    show:true,
	    statusmessage: '',
	    gyms: '',
	    fgyms: '',
	    trainers: '',
	    ftrainers: '',
	    groups: '',
	    fgroups: '',
	    lessons: '',
	    fdays: '',
	    students: '',
	    studentAge: "",
	    studentBdate: "",
	    studentEmail: "",
	    studentPhone: "",
	    studentName: "",
	    studentTicket: "",
	    selectedLessons: [],
	    studentGroups: [],
	    lessonGym: "",
	    lessonTrainer: "",
	    studentDay: "",
	    studentLesson: "",
	    lessonDate: new Date().toISOString().slice(0,10),
	    lessonTime: new moment().format("HH:mm"),
	    studentFilterData: "",
	    filterMessage: "",
	    errorMsg: null,
	    newStudent: "",
	    lessontypes:  [{ltype:'group', name:'групповое'}, {ltype:'personal', name:'индивидуальное'}, {ltype:'split', name:'сплит'}, {ltype:'mini', name:'мини'} ],
	    lessonType: "group"
	}
    },
    created () {
	this.getData()
    },
    updated () {
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
	filteredGroups: function () {
	    if (!this.studentAge) {
		return this.groups
	    } else {
		return this.groups.filter(g => g.minage <= this.studentAge && g.maxage >= this.studentAge)
		}
	    }
    },
    methods: {
	moment: function () {
	    return moment();
	},
	addStudentToGroup () {
	    //add or select student
	    let stid = null
	    if (this.existingStudent) {
		stid = this.existingStudent
		// TODO check existing valid ticket
	    } else {
		stid = this.newStudent
		// create new ticket
		//TODO add ticket step?
		// no, we'll add it manually later
		//let ticketdata = {
		//		  student_id: stid,
		//		 }

	    }

	    let patchdata = {student_ids: [stid]}

	    this.selectedLessons.forEach(l => {
		// add to group lesson 
		this.$axios.patch(this.$backendhost+'lessons/' + l.id, patchdata)
		    .then(this.flashSuccess('Ученик добавлен в группу', {timeout: 2000}))
		    .catch(request => console.log(request))
		
		
	    })
	    this.$refs.wizard.reset()
	    this.existingStudent=false
	    this.studentName = ""
	    this.studentPhone = ""
	    this.studentEmail = ""
	    this.studentBdate = ""
	    this.students = ""
	
	    
	},
	editStudent (stid) {
	    if (stid && stid > 0) {
		let stud = this.students.find(x => x.id === stid)
		this.existingStudent = stid
		this.studentName = stud.name
		this.studentPhone = stud.phone
		this.studentEmail = stud.email
		this.studentBdate = stud.bdate
		this.studentTicket = stud.lastvalidticket
		
		//if (!this.studentTicket.id) {
		//    this.flashWarning('У ученика не осталось оплаченных посещений', {timeout: 6000})
		//    }
		this.studentFilterData = ""
		this.students = null
		this.filterMessage = ""
	    }
	},
	deleteStudent (stid) {
	    if (stid) {
		this.$axios.delete(this.$backendhost+"students/" + stid)
		    .then(request => this.updateStudents("Student deleted"))
		    .catch(request => console.log(request))
	    }
	},
	validateStudentData() {
	    return new Promise((resolve, reject) => {
		if(this.studentName ) {
		    if (!this.existingStudent) {
			// create student
			
			let postdata = { name: this.studentName,
					 phone: this.studentPhone,
					 email: this.studentEmail,
					 bdate: this.studentBdate,
					 staff_id: this.currentUser.user_id
				       }
			console.log(postdata)
			this.$axios.post(this.$backendhost+'students', postdata)
			    .then(request => this.updateStudents('Student added', request))
			    .catch(request => console.log(request))
		    }
	
		    resolve(true)
		    
		} else {
		    reject('Заполните все поля')
		}
	    })
	},
	handleErrorMessage: function(errorMsg){
            this.errorMsg = errorMsg
        },
	updateStudents(message, response){
	    this.$axios.get(this.$backendhost+'students')
		.then(request => this.setData('students', request))
		.catch(request => console.log(request))
	    this.flashSuccess("Новый ученик добавлен", {timeout: 2000})
	    this.newStudent = response.data.id
	    },
	getData () {
	    this.$axios.get(this.$backendhost+'gyms')
		.then(request => this.setData('gyms', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'staff', {params: {role: "trainer"}})
		.then(request => this.setData('trainers', request))
		.catch(request => {console.log(request)
				   //this.flashWarning('Тренировок по заданным параметрам не найдено', {timeout: 2000})
				   }
				  )
	    this.paymentFile = ''


	},
    	setData (what, response){
	    if (what == 'gyms') {
		this.gyms = response.data
	    } else if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
	    } else if (what == 'days') {
		this.days = response.data
		this.fdays = response.data
	    } else if (what == 'students') {
		this.filterMessage=""
		this.students = response.data
		
	    } 
	},
	clearStudentSearch () {
	    this.students = null
	    this.filterMessage = "Никого не найдено"
	},
	studentFilter () {
	    if (this.studentFilterData && this.studentFilterData.length > 2) {
		this.$axios.get(this.$backendhost+"students", {'params':{'query': this.studentFilterData}})
		    .then(request => this.setData('students', request))
		    .catch(request => this.clearStudentSearch())
	    } else {
		this.students = null
		this.filterMessage = ""
		}
	},
	ageChange () {
	    if (this.studentAge) {
		this.fdays = this.days.filter((d) => {
		    let foundGroup = d.lessons.findIndex((l) => {
			return l.group_minage <= this.studentAge && l.group_maxage >= this.studentAge
		    })
		    return foundGroup !== -1
		})
	    } else {
		this.fdays = this.days
	    }
	},
	dateChange () {
	    if (this.lessonDate) {
		this.fdays = this.days.filter((d) => {
		    return d.date === this.lessonDate
		})
	    } else {
		this.fdays = this.days
	    }
	},
	lessonTypeChange() {
	    console.log(this.lessonType, this.lessonDate, this.lessonTime, this.lessonGym, this.lessonTrainer)
	},
	createLesson() {
	    //add or select student
	    let stid = null
	    if (this.existingStudent) {
		stid = this.existingStudent
		// TODO check existing valid ticket
	    } else {
		stid = this.newStudent
	    }
	    
	    let patchdata = {student_ids: [stid]}
	    console.log(patchdata)
	    
	    if (this.lessonType && this.lessonDate && this.lessonTime && this.lessonGym.id && this.lessonTrainer.id) {
		console.log("new lesson", this.lessonDate, this.lessonTime)
		let lstart = this.$moment(this.lessonDate + " " + this.lessonTime, 'YYYY-MM-DD HH:mm').local()
		let lend = this.$moment(lstart).local().add(1, 'hours')
		// Timezone 3 + 1
		let lessondata = { gym_id: this.lessonGym.id,
				   date: this.lessonDate,
				   start: lstart.format('YYYY-MM-DD HH:mm'),
				   end: lend.format('YYYY-MM-DD HH:mm'),
				   trainer_id: this.lessonTrainer.id,
				   lessontype: this.lessonType
				 }
		// chained axios requests
		// 1. create lesson
		// 2. add student
		this.$axios.post(this.$backendhost+'lessons', lessondata)
		    .then(request => {
			this.flashSuccess('Добавлена новая тренировка', {timeout: 2000})
			this.newLesson = request.data
			this.$axios.patch(this.$backendhost+'lessons/' + this.newLesson.id, patchdata)
			.then(this.flashSuccess('Ученик записан', {timeout: 2000}))
		    })
		    .catch(request => console.log(request))
		    
	    }
	    
	},
	findLessons() {
	    
	    let staff = 'all'
	    let gym = ''
	    let datefrom = 'today'
	    let datelimit = 7
	    let timefrom = ''
	    

	    if (this.lessonGym) {
		gym = this.lessonGym.id
	    }

	    if (this.lessonDate) {
		datefrom = this.lessonDate
		datelimit = 1
	    }

	    if (this.lessonTime) {
		timefrom = this.lessonTime
	    }
	    let parameters = {params:
			  {
			      from: datefrom,
			      limit: datelimit,
			      gym_id: gym,
			      byday: 1,
			      timefrom: timefrom,
			      lessontype: this.lessonType
			  }
			 }
	    if (this.lessonTrainer) {
		parameters['params'].staff_id = this.lessonTrainer.id
	    } 
	    // put lessons request here
	    this.$axios.get(this.$backendhost+'lessons', parameters)
		.then(request => this.setData('days', request))
		.catch(request => { console.log(request)
				    this.flashWarning('Тренировок не найдено', {timeout: 2000})
				    this.days = ""
				    this.fdays = ""
				  })
	},
	groupChange () {
	    if (this.studentGroup.id) {
		this.fdays = this.days.filter((d) => {
		    let foundGroup = d.lessons.findIndex((l) => {
			return l.group_id === this.studentGroup.id
		    })
		    return foundGroup !== -1
		})
	    } else {
		this.fdays = this.days
	    }
	},
	trainerChange () {
	    if (this.lessonTrainer.id) {
		this.fdays = this.days.filter((d) => {
		    let foundGroup = d.lessons.findIndex((l) => {
			return l.trainer_id === this.lessonTrainer.id
		    })
		    return foundGroup !== -1
		})
	    } else {
		this.fdays = this.days
	    }
	},
	gymChange () {
	    if (this.lessonGym.id) {
		this.fdays = this.days.filter((d) => {
		    let foundGroup = d.lessons.findIndex((l) => {
			return l.gym_id === this.lessonGym.id
		    })
		    return foundGroup !== -1
		})
	    } else {
		this.fdays = this.days
	    }
	    
	},
    }
}
</script>
<style>
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  }
  span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
  }
  .blank_row
  .statusmessage {
      height: 22px !important; /* overwrites any other rules */
  }
</style>
