<template>
<span :class="badgeclass()"> {{numstudents}}</span>
</template>

<script>
export default {
    name: 'Groupbadge',
    props: ['numstudents',],
    methods: {
	badgeclass: function () {
	    var badgecolor = "badge "
	    if (this.numstudents == 0) {
		badgecolor += "badge-primary"
	    } else if (this.numstudents <= 8) {
		badgecolor += "badge-warning"
	    } else {
		badgecolor += "badge-danger"
	    }
	    return badgecolor
	}
    }
}
</script>
