<template>
<div class="groups">
    <div class="container-fluid">
      
      Groups & Trainers
      
    </div>
</div>
</template>


<script>
  export default {
    name: 'Groups',

    data() {
      return {
          groups: "",
	  trainers: ""
      }
    },
      
    created() {
      this.fetchData()
    },

    watch: {
      '$route': 'fetchData'
    },

    methods: {
      fetchData() {
        this.$axios.get('/gyms')
        .then((resp) => {
          this.coin = resp.data[0]
          console.log(resp)
        })
        .catch((err) => {
          console.log(err)
        })
      }
    }
  }
</script>
