<template>
<div class="groups">
    <div class="container-fluid">
      <div class="row">
	<div class="col-md-12">
	  <h1>Группы и тренеры</h1>
	  <flash-message transition-name="fade"></flash-message>
	  <p>
	    Группы, тренеры, залы
	  </p>
	  <p>

	  </p>
	  <h3>Группы <button v-if="currentUser.superadmin" type="button" @click="editGroup(-1)" class="btn btn-outline-primary"><img src="@/assets/plus.svg"></button></h3>
	  <h4>
	    <form v-on:submit.prevent>
	      <div class="form-row">
		<div class="form-group col-md-4">
		  <select v-model="selTrainer"  class="form-control" id="inputTrainer" placeholder="тренер" @change="filterGroups()">
		    <option>тренер</option>
		    <option v-for="trainer in trainers" :value="trainer.id">{{trainer.name}}</option>
		  </select>
		</div>
		<div class="form-group col-md-4">
		  <select v-model="selStrainer"  class="form-control" id="inputStrainer" placeholder="второй тренер" @change="filterGroups()">
		    <option>второй тренер</option>
		    <option v-for="trainer in trainers" :value="trainer.id">{{trainer.name}}</option>
		  </select>
		</div>
		<div class="form-group col-md-4">
		  <select v-model="selGym"  class="form-control" id="inputGroupGym" placeholder="зал" @change="filterGroups()">
		    <option>зал</option>
		    <option v-for="gym in gyms" :value="gym.id">{{gym.name}}</option>
		  </select>
		</div>
	      </div>
	    </form>
	  </h4>
	  <modal name="modalGroup" :adaptive="true" width="70%" height="auto" :scrollable="true" :pivotY="1" @before-close="clearSearch" @before-open="updateSearch">
	    <div class="container-fluid">
	      <div class="row">
		&nbsp;
	      </div>
	      <div class="row mt-5">
		<div class="col-md-12">
		  <h3>{{this.groupName}}</h3>

		  <form v-on:submit.prevent>
		    <div class="form-row">
		      <div class="form-group col-md-4">
			<input v-model="groupName" type="text" class="form-control" id="input" placeholder="новая группа" required>
		      </div>
		      <div class="form-group col-md-2">
			<input v-model="minAge"  type="number" @input="filterStudents" class="form-control" id="inputMinAge" placeholder="с ..." >
		      </div>
		      <div class="form-group col-md-2">
			<input v-model="maxAge"  type="number" @input="filterStudents" class="form-control" id="inputMaxAge" placeholder="до ... лет" >
		      </div>
		      <div class="form-group col-md-4">
			<select v-model="groupTrainer"  class="form-control" id="inputTrainer" placeholder="тренер">
			  <option>тренер</option>
			  <option v-for="trainer in trainers" :value="trainer.id">{{trainer.name}}</option>
			</select>
		      </div>
		      <div class="form-group col-md-4">
			<select v-model="groupStrainer"  class="form-control" id="inputStrainer" placeholder="второй тренер">
			  <option>второй тренер</option>
			  <option v-for="trainer in trainers" :value="trainer.id">{{trainer.name}}</option>
			</select>
		      </div>
		      <div class="form-group col-md-4">
			<select v-model="groupGym"  class="form-control" id="inputGroupGym" placeholder="зал">
			  <option>зал</option>
			  <option v-for="gym in gyms" :value="gym.id">{{gym.name}}</option>
			</select>
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="col-md-4 offset-md-4 mt-4">
			<button type="submit" @click="createGroup(groupID)" class="btn btn-primary btn-block">сохранить</button>
		      </div>
		    </div>
		    
		    <div class="form-row">
		      <button class="btn ml-2 mt-2" v-for="numst, wd,  in groupWeekdays" type="submit" @click="changeWeekDays(groupID, wd)">{{wd}}:{{numst}}</button>
		    </div>
		    
		    <div class="form-row">
		      <button class="btn ml-2 mt-2" v-for="s in selectedStudents" @click="deleteFromGroup(groupID, s)"> {{students.find(x => x.id === s).name}} </button>
		      <div class="col-md-12 mt-2">
			<div class="form-row">
			  Найдено {{this.fstudents.length}}
			</div>
			<div class="form-row">
			  <div class="col-md-2">
			    <input v-model="filterName" class="form-control" type="text" @input="filterStudents" placeholder="имя">
			  </div>
			</div>
			<div class="form-row mt-5">
			  <div class="col-md-12">
			    <ul>
			      <li v-for="st in fstudents">
				<div class="form-group form-check">
				  <input type="checkbox" :id="st.id" :value="st.id" v-model="selectedStudents">
				  <label for="st.id">
				    {{st.contract_id}} {{st.name}}, {{st.age}} 
				  </label>
				</div>
			      </li>
			    </ul>
			  </div>
			</div>
		      </div>
		    </div>
		  </form>
		</div>
	      </div>
	    </div>
	  </modal>
	  
	  <table class="table table-striped table-hover table-sm">
	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col">тренер</th>
		<th scope="col">группа</th>
		<th scope="col">дни (в текущем месяце)</th>
		<th scope="col">кол-во учеников</th>
		<th scope="col">зал</th>
		<th v-if="currentUser.superadmin"scope="col"></th>
		<th v-if="currentUser.superadmin" scope="col"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="(gr, index) in groups">
		<th class="align-middle" scope="row">{{gr.id}}</th>
		<td class="align-middle">{{gr.trainer.name}}</td>
		<td class="align-middle">{{gr.name}}</td>
		<td class="align-middle" v-if="currentUser.isadmin">
		  <button type="button" class="btn btn-outline-secondary" @click="editGroup(gr.id, wday)" v-for="(numst, wday) in gr.weekdays">
		    {{wday}}: {{numst}}
		  </button>
		</td>
		<td class="align-middle">{{gr.numstudents}}</td>
		<td class="align-middle">{{gr.gym ? gr.gym.name : ""}}</td>
		<td v-if="currentUser.isadmin"><button type="button" class="btn btn-outline-secondary" @click="editGroup(gr.id)"><img class="mb-1" src="@/assets/pencil.svg"></button></td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-danger" v-on:click="deleteGroup(gr.id)"><img class="mb-1" src="@/assets/trash.svg"></button></td>
	      </tr>
	    </tbody>
	  </table>
  
	</div>
      </div>
      <div class="row mt-4">
	<div class="col-md-12">
	  <h3>Персонал <button v-if="currentUser.superadmin" type="button" @click="editTrainer(-1)" class="btn btn-outline-primary"><img src="@/assets/plus.svg"></button>
	    <button v-if="currentUser.superadmin" type="button" @click="showArchivedStaff()" class="btn btn-outline-primary">Показать {{showingArchived? "всех" : "удаленных"}}</button></h3>

	  <modal name="modalTrainer" adaptive width="70%" height="80%">
	    <div class="container-fluid">
	      <div class="row">
		<div class="col-md-12 mt-5">
		  <h3>{{this.trainerName}}</h3>
		  
		  <form v-on:submit.prevent="createTrainer(trainerID)">
		    <div class="form-row">
		      <div class="form-group col-md-4">
			<input v-model="trainerName" type="text" class="form-control" id="inputTrainerName" placeholder="имя" required>
		      </div>
		      <div class="form-group col-md-3">
			<input v-model="trainerLogin" type="email"  class="form-control" id="inputLogin" placeholder="email" required>
		      </div>
		      <div class="form-group col-md-4">
			<input v-model="trainerPassword" type="password" class="form-control" id="inputTrainerPassword" placeholder="пароль">
		      </div>
		    </div>
		    
		    <div class="form-row">
		      <div class="form-group col-md-4">
			<input v-model="trainerPhone" type="phone" class="form-control" id="trainerPhone" placeholder="телефон" required>
		      </div>
		      <div class="form-group col-md-3 mt-2 ml-6">
			<div class="form-check form-check-inline">
			  <input v-model="trainerIsAdmin" type="checkbox" class="form-check-input" id="inputTrainerIsAdmin">
			  <label class="form-check-label" for="inputTranerIsAdmin">
			    Админ
			  </label>
			</div>
		      </div>
		      <div class="form-group col-md-4 ">
			<select v-model="trainerType" class="form-control" id="inputTrainerType" placeholder="тип ставки">
			  <option value=""></option>
			  <option value="junior">младший тренер</option>
			  <option value="middle">тренер</option>
			  <option value="senior">старший тренер</option>
			</select>
		      </div>
		    </div>

		      <label class="mt-1" for="inputTrainerGroupRate">Ставки (руб)</label>
		    
		    <div class="form-row">
		      
		      <div class="form-group col-md-2">
			<input v-model="trainerGroupRate" type="number" class="form-control" id="inputTrainerGroupRate" placeholder="за группу" min=0 aria-describedby="groupRateHelp">
			<small id="groupRateHelp" class="form-text text-muted">
			  за группу
			</small>
		      </div>
		      
		      <div class="form-group col-md-2">
			<input v-model="trainerPersonRate" type="number" class="form-control" id="inputTrainerPersonRate" placeholder="за человека" min=0 aria-describedby="personRateHelp">
			<small id="personRateHelp" class="form-text text-muted">
			  за человека
			</small>
		      </div>
		      
		      <div class="form-group col-md-2">
			<input v-model="trainerPersonalRate" type="number" class="form-control" id="inputTrainerPersonalRate" placeholder="за инд. тренировку" min=0 aria-describedby="personalRateHelp">
			<small id="personalRateHelp" class="form-text text-muted">
			  за индивидуальную тренировку
			</small>
		      </div>
		      
		      <div class="form-group col-md-2">
			<input v-model="trainerSplitRate" type="number" class="form-control" id="inputTrainerSplitRate" placeholder="сплит" min=0 aria-describedby="splitRateHelp">
			<small id="splitRateHelp" class="form-text text-muted">
			  за сплит
			</small>
		      </div>
		      
		      <div class="form-group col-md-2">
			<input v-model="trainerMiniRate" type="number" class="form-control" id="inputTrainerMiniRate" placeholder="мини" min=0 aria-describedby="miniRateHelp">
			<small id="miniRateHelp" class="form-text text-muted">
			  за мини-тренировку
			</small>
		      </div>
		    </div>
		  
		    <div class="form-row">
		      <div class="form-group col-md-12">
			<input v-model="trainerNote" type="text" class="form-control" id="inputTrainerNote" placeholder="заметки">
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="col-md-4 offset-md-4 mt-4">
			<button type="submit" class="btn btn-primary btn-block">сохранить</button>
		      </div>
 		    </div>
		  </form>
		</div>
	      </div>
	    </div>
	  </modal>
	  
	  <table class="table table-striped table-hover table-sm">
	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col">имя</th>
		<th scope="col">email</th>
		<th scope="col">телефон</th>
		<th scope="col">заметки</th>
		<th scope="col">админ</th>
		<th scope="col">тренер</th>
		<th v-if="currentUser.superadmin" scope="col"></th>
		<th v-if="currentUser.superadmin" scope="col"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="(tr, index) in trainers" v-bind:class="{ 'table-danger': tr.archived }">
		<th scope="row">{{index + 1}}</th>
		<td class="align-middle">{{tr.name}}</td>
		<td class="align-middle">{{tr.login}}</td>
		<td class="align-middle">{{tr.phone}}</td>
		<td class="align-middle">{{tr.note}}</td>
		<td class="align-middle"><img v-if="tr.admin" src="@/assets/check.svg"></td>
		<td class="align-middle"><img v-if="tr.trainer" src="@/assets/check.svg"></td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-secondary" @click="editTrainer(tr.id)"><img class="mb-1" src="@/assets/pencil.svg"></button></td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-danger" v-on:click="deleteTrainer(tr.id)"><img class="mb-1" src="@/assets/trash.svg"></button></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
      
      <div class="row mt-4">
	<div class="col-md-12">
	  <h3>Залы <button v-if="currentUser.superadmin" type="button" @click="editGym(-1)" class="btn btn-outline-primary"><img class="mb-1" src="@/assets/plus.svg"></button></h3>
	  <modal name="modalGym" adaptive width="80%" height="70%">
	    <div class="container-fluid">
	      <div class="row">
		<div class="col-md-12 mt-5">
		  <h3>{{this.gymName}}</h3>

		  <form v-on:submit.prevent="createGym(gymID)">
		    <div class="form-row">
		      <div class="form-group col-md-4">
			<input v-model="gymName" type="text" class="form-control" id="inputGymName" placeholder="название" required>
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="form-group col-md-9">
			<input v-model="gymAddress" type="text" class="form-control" id="inputGymAddress" placeholder="адрес" required>
		      </div>
		      
		      <div class="form-group col-md-2">
			<input v-model="gymPhone" type="phone" class="form-control" id="gymPhone" placeholder="телефон" required>
		      </div>
		      <div class="form-group col-md-1">
			<input v-model="gymColor" type="color" class="form-control" id="gymColor" placeholder="цвет" required>
		      </div>

		    </div>
		    <div class="form-row">
		      <div class="form-group col-md-12">
			<input v-model="gymURL" type="text" class="form-control" id="gymURL" placeholder="URL" required>
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="form-group col-md-12">
			<input v-model="gymNote" type="text" class="form-control" id="gymNote" placeholder="Заметки">
		      </div>
		    </div>

		    <div class="form-row">
		      <div class="col-md-4 offset-md-4 mt-4">
			<button type="submit" class="btn btn-primary btn-block">сохранить</button>
		      </div>
		    </div>
		  </form>
		  
		</div>
	      </div>
	    </div>
	  </modal>

	  <table class="table table-striped table-hover table-sm">
	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col"></th>
		<th scope="col">адрес</th>
		<th scope="col">телефон</th>
		<th scope="col">URL</th>
		<th v-if="currentUser.superadmin" scope="col"></th>
		<th v-if="currentUser.superadmin" scope="col"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="(gm, index) in gyms">
		<th scope="row">{{index + 1}}</th>
		<td class="align-middle">{{gm.name}}</td>
		<td class="align-middle">{{gm.address}}</td>
		<td class="align-middle">{{gm.phone}}</td>
		<td class="align-middle">{{gm.url}}</td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-secondary" @click="editGym(gm.id)"><img class="mb-1" src="@/assets/pencil.svg"></button></td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-danger" v-on:click="deleteGym(gm.id)"><img class="mb-1" src="@/assets/trash.svg"></button></td>
	      </tr>
	    </tbody>
	  </table>
	  
	</div>
      </div>

      <div class="row mt-4">
	<div class="col-md-12">
	  <h3>Цены <button v-if="currentUser.superadmin" type="button" @click="editPrice(-1)" class="btn btn-outline-primary"><img class="mb-1" src="@/assets/plus.svg"></button></h3>
	  <modal name="modalPrice" adaptive width="70%" height="80%">
	    <div class="container-fluid">
	      <div class="row">
		<div class="col-md-12 mt-5">
		  <h3>{{this.priceName}} {{this.priceType}} {{this.priceValue}}</h3>

		  <form v-on:submit.prevent="createPrice(priceID)">
		    <div class="form-row">
		      <div class="col-md-4">
			<label for="priceName">Название</label>
			<input v-model="priceName" type="text" class="form-control" id="inputPriceName" placeholder="название" required>
		      </div>
		      
		      <div class="form-group col-md-4">
			<label for="priceType">Тип</label>
			<select v-model="priceType"  class="form-control" id="priceType" placeholder="тип">
			  <option value="promo">промо</option>
			  <option value="free">бесплатно</option>
			  <option value="single">разовый</option>
			  <option value="ticket">абонемент</option>
			  <option value="personal">персональный</option>
			  <option value="debt">долг</option>
			</select>
		      </div>
		      <div class="form-group col-md-4">
			<label for="priceValue">Цена</label>
			<input v-model="priceValue" type="text" class="form-control" id="inputPriceValue" placeholder="цена" required>
		      </div>
		      <div class="form-group col-md-3">
			<label for="priceNumVisits">Кол-во тренировок</label>
			<input v-model="priceNumVisits" type="text" class="form-control" id="inputPriceNumVisits" placeholder="кол-во тренировок" required>
		      </div>
		      <div class="form-group col-md-3">
			<label for="priceValidDays">Действителен ... дней</label>
			<input v-model="priceValidDays" type="text" class="form-control" id="inputValidDays" placeholder="кол-во дней">
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="col-md-4 offset-md-4 mt-4">
			<button type="submit" class="btn btn-primary btn-block">сохранить</button>
		      </div>
		    </div>
		  </form>
		</div>
	      </div>
	    </div>
	  </modal>
	  <table class="table table-striped table-hover table-sm">
	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col">название</th>
		<th scope="col">тип</th>
		<th scope="col">цена</th>
		<th v-if="currentUser.superadmin" scope="col"></th>
		<th v-if="currentUser.superadmin" scope="col"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="(pr, index) in prices">
		<th scope="row">{{index + 1}}</th>
		<td class="align-middle">{{pr.name}}</td>
		<td class="align-middle">{{pr.pricetype}}</td>
		<td class="align-middle">{{pr.price}}</td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-secondary" @click="editPrice(pr.id)"><img class="mb-1" src="@/assets/pencil.svg"></button></td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-danger" v-on:click="deletePrice(pr.id)"><img class="mb-1" src="@/assets/trash.svg"></button></td>
	      </tr>
	    </tbody>
	  </table>
	  
	</div>
      </div>
      
    </div>
</div>


</template>


<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Groups',
    data() {
	return {
	    filterName: "",
            groups: "",
	    selectedStudents: [],
	    students: "",
	    fstudents: "",
	    trainers: "",
	    gyms: "",
	    groupTrainer: "тренер",
	    groupStrainer: "второй тренер",
	    groupGym: "зал",
	    maxAge: "",
	    minAge: "",
	    groupID: -1,
	    groupName: "",
	    groupWeekdays: "",
	    trainerID: -1,
	    trainerName: "",
	    trainerLogin: "",
	    trainerPhone: "",
	    trainerIsAdmin: "",
	    trainerNote: "",
	    trainerPassword: "",
	    trainerType: "",
	    trainerGroupRate: "",
	    trainerPersonRate: "",
	    trainerPersonalRate: "",
	    trainerSplitRate: "",
	    trainerMiniRate: "",
	    gymID: -1,
	    gymName: "",
	    gymAddress: "",
	    gymPhone: "",
	    gymURL: "",
	    gymColor: "",
	    gymNote: "",
	    prices: "",
	    priceID: -1,
	    priceType:"",
	    priceName:"",
	    priceValue:"",
	    priceNumVisits:0,
	    priceValidDays: "До конца месяца",
	    selGroup: '',
	    selTrainer: '',
	    selStrainer: '',
	    selGym: '',
	    showingArchived: false
	}
    },
      
    created() {
	this.fetchData()
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    watch: {
	'$route': 'fetchData'
    },
    methods: {
	filterGroups() {
	    let params = {'params': {'trainer': null, 'strainer': null, 'gym': null}}
	    if (this.selTrainer && this.selTrainer != 'тренер') {
		params.params.trainer = this.selTrainer
	    }
	    if (this.selStrainer && this.selStrainer != 'второй тренер') {
		params.params.strainer = this.selStrainer
	    }
	    if (this.selGym && this.selGym != 'зал') {
		params.params.gym = this.selGym
	    }
	    console.log(params)
	    this.$axios.get(this.$backendhost+'groups', params)
		.then(request => this.setData('groups', request))
		.catch(response => console.log(response))
	},
	updateStudents(stid) {
	    let stindex = this.selectedStudents.findIndex(x => x === stid)
	    this.selectedStudents.splice(stindex, 1)
	},
	updateSearch() {
	    this.filterStudents()
	},
	deleteFromGroup(gr, st) {
	    this.$axios.delete(this.$backendhost+'groups/'+gr+"/students/"+st)
		.then(this.updateStudents(st))
		.catch(request => console.log(request))
	},
	clearSearch () {
	    this.minAge = ""
	    this.maxAge = ""
	    this.filterName =""
	    this.selectedStudents = []
	},
	filterStudents () {
	    // TODO фильтровать по имени и возрасту одновременно
	    console.log('filter students')
	    this.fstudents = this.students
	    if (this.minAge && this.maxAge ) {
		this.fstudents = this.students.filter(x => x.age >= this.minAge && x.age <= this.maxAge)
	    } else if (this.minAge) {
		this.fstudents = this.students.filter(x => x.age >= this.minAge)
	    } else if (this.maxAge) {
		this.fstudents = this.students.filter(x => x.age <= this.maxAge)
	    }
	    if (this.filterName ) {
		console.log(this.filterName)
		this.fstudents = this.students.filter(x => x.name.toLowerCase().match(this.filterName.toLowerCase()))
	    } 
	},
	showArchivedStaff() {
	    let querystr = null
	    if (!this.showingArchived) {
		querystr = 'staff?archived=1'
	    } else {
		querystr = 'staff'
	    }
	    
	    this.$axios.get(this.$backendhost+querystr)
		.then(request => {this.setData('trainers', request)
				  this.showingArchived = !this.showingArchived
				 })
		.catch(request => console.log(request))
	    },
	fetchData() {
	    this.$axios.get(this.$backendhost+'staff')
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    //this.$axios.get(this.$backendhost+'groups')
		//.then(request => this.setData('groups', request))
		//.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'gyms')
		.then(request => this.setData('gyms', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'students')
		.then(request => this.setData('students', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'prices')
		.then(request => this.setData('prices', request))
		.catch(request => console.log(request))

        },
	editGroup (gid, wday=null) {
	    console.log('edit group')
	    this.filterStudents()
	    if (gid > 0) {
		// console.log(this.fstudents)
		console.log(this.students)
		this.fstudents.forEach( s => {
		    if (s.group_ids.includes(gid)) {
			this.selectedStudents.push(s.id)
		    }
		})
		let gr = this.groups.find(x => x.id === gid)
		this.groupID = gr.id
		this.groupName = gr.name
		this.groupWeekdays = gr.weekdays
		this.maxAge = gr.maxage
		this.minAge = gr.minage
		this.groupTrainer = gr.trainer.id
		console.log(gr.trainer)
		if (gr.strainer) {
		    this.groupStrainer = gr.strainer
		}
		this.groupGym = gr.gym ? gr.gym.id : "зал"
		//this.groupStrainer = gr.strainer.id
	    } else {
		this.selectedStudents = []
		this.groupID = -1
		this.groupName = ""
		this.groupWeekdays = ""
		this.maxAge = ""
		this.minAge = ""
		this.groupTrainer = "тренер"
		this.groupStrainer = "второй тренер"
		this.groupGym = "зал"
		}
	    this.$modal.show('modalGroup')
	},
        deleteGroup (grid) {
	    if (grid) {
		this.$axios.delete(this.$backendhost+"groups/" + grid)
		    .then(request => this.updateGroups("Group deleted"))
		    .catch(request => console.log(request))
	    }
	},
	createGroup (grid) {
	    if (grid < 0) {
		let postdata = { name: this.groupName,
				 minage: this.minAge,
				 maxage: this.maxAge,
				 trainer_id: this.groupTrainer,
				 strainer_id: this.groupStrainer,
				 student_ids: this.selectedStudents,
				 gym_id: this.groupGym
			       }
		console.log(postdata)
		this.$axios.post(this.$backendhost+'groups', postdata)
		    .then(request => this.updateGroups('Группа добавлена'))
		    .catch(request => console.log(request))
	    } else {
		let patchdata = { name: this.groupName,
				  minage: this.minAge,
				  maxage: this.maxAge,
				  trainer_id: this.groupTrainer,
				  strainer_id: this.groupStrainer,
				  student_ids: this.selectedStudents,
				  gym_id: this.groupGym
				}
		console.log(patchdata)
		this.$axios.patch(this.$backendhost+'groups/'+grid, patchdata)
		    .then(request => this.updateGroups('Группа изменена'))
		    .catch(request => console.log(request))
	    }
	    console.log('group changed')
	    // add selectedStudents to all group's future lessons
	    
	    this.$modal.hide('modalGroup')
	},
	updateGroups(message) {
	    this.flashSuccess(message, {timeout: 2000})
	    this.$axios.get(this.$backendhost+'groups')
		.then(request => this.setData('groups', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'students')
		.then(request => this.setData('students', request))
		.catch(request => console.log(request))

	},
	setData (what, response){
	    if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
		console.log('groups changed2')
	    } else if (what == 'gyms') {
		this.gyms = response.data
	    } else if (what == 'students') {
		this.students = response.data
		this.fstudents = this.students
		this.selectedStudents = []
		this.groupID = ""
	    } else if (what == 'prices') {
		this.prices = response.data
	    }
	},
	editPrice (pid) {
	    if (pid > 0) {
		let pr = this.prices.find(x => x.id === pid)
		this.priceID = pr.id
		this.priceName = pr.name
		this.priceValue = pr.price
		this.priceNote = pr.note
		this.priceNumVisits = pr.numvisits
		this.priceType = pr.pricetype
		this.priceValidDays = pr.validdays
	    } else {
		this.priceID = -1
		this.priceName = ""
		this.priceValue = ""
		this.priceNote = ""
		this.priceNumVisits = 0
		this.priceValidDays = "До конца месяца"
	    }
	    this.$modal.show('modalPrice')
	},
	createPrice (pid) {
	    if (pid < 0) {
		let postdata = { name: this.priceName,
				 pricetype: this.priceType,
				 price: this.priceValue,
				 numvisits: this.priceNumVisits,
				 validdays: this.priceValidDays
			       }
		this.$axios.post(this.$backendhost+'prices', postdata)
		    .then(request => this.updatePrices('Цена добавлена'))
		    .catch(request => console.log(request))
	    } else {
		let patchdata = { name: this.priceName,
				  pricetype: this.priceType,
				  price: this.priceValue,
				  numvisits: this.priceNumVisits,
				  validdays: this.priceValidDays
				}
		this.$axios.patch(this.$backendhost+'prices/' + pid, patchdata)
		    .then(request => this.updatePrices('Цена изменена'))
		    .catch(request => console.log(request))
	    }
	    this.$modal.hide('modalPrice')
	    this.priceID = -1
	    this.priceName = ""
	    this.priceValue = ""
	    this.priceType = ""
	    this.priceNumVisits = 0
	},
	deletePrice (pid) {
	    if (pid) {
		this.$axios.delete(this.$backendhost+"prices/" + pid)
		    .then(request => this.updatePrices("Цена удалена"))
		    .catch(request => console.log(request))
	    }
	},
	updatePrices(message) {
	    this.priceID = -1
	    this.priceName = ""
	    this.priceValue = ""
	    this.priceType = ""
	    this.$axios.get(this.$backendhost+'prices')
		.then(request => this.setData('prices', request))
		.catch(request => console.log(request))
	    this.flashSuccess(message, {timeout: 2000})
	},
	editGym (gid) {
	    if (gid > 0) {
		let gm = this.gyms.find(x => x.id === gid)
		this.gymID = gm.id
		this.gymName = gm.name
		this.gymAddress = gm.address
		this.gymPhone = gm.phone
		this.gymURL = gm.url
		this.gymColor = gm.color
		this.gymNote = gm.note
	    } else {
		this.gymID = -1
		this.gymName = ""
		this.gymAddress = ""
		this.gymURL = ""
		this.gymPhone = ""
		this.gymColor = ""
		this.gymNote = ""
		
	    }
	    this.$modal.show('modalGym')
	},
	createGym (gid) {
	    if (gid < 0) {
		let postdata = { name: this.gymName,
				 address: this.gymAddress,
				 phone: this.gymPhone,
				 url: this.gymURL,
				 color: this.gymColor,
				 note: this.gymNote
			       }
		this.$axios.post(this.$backendhost+'gyms', postdata)
		    .then(request => this.updateGyms('Зал добавлен'))
		    .catch(request => console.log(request))
	    } else {
		let patchdata = { name: this.gymName,
				  address: this.gymAddress,
				  phone: this.gymPhone,
				  url: this.gymURL,
				  color: this.gymColor,
				  note: this.gymNote
				}
		this.$axios.patch(this.$backendhost+'gyms/' + gid, patchdata)
		    .then(request => this.updateGyms('Зал изменен'))
		    .catch(request => console.log(request))
	    }
	    this.$modal.hide('modalGym')
	    this.gymID = -1
	    this.gymName = ""
	    this.gymAddress = ""
	    this.gymURL = ""
	    this.gymPhone = ""
	    this.gymColor = ""
	    this.gymNote = ""

	},
	deleteGym (gid) {
	    if (gid) {
		this.$axios.delete(this.$backendhost+"gyms/" + gid)
		    .then(request => this.updateGyms("Зал удален"))
		    .catch(request => console.log(request))
	    }
	},
	deleteTrainer(tid) {
	    if (tid) {
		this.$axios.delete(this.$backendhost+"staff/" + tid)
		    .then(request => this.updateTrainers("удален"))
		    .catch(request => console.log(request))
	    }
	},
	updateGyms(message) {
	    this.gymID = -1
	    this.gymName = ""
	    this.gymAddress = ""
	    this.gymPhone = ""
	    this.gymURL = ""
	    this.gymNote = ""
	    this.$axios.get(this.$backendhost+'gyms')
		.then(request => this.setData('gyms', request))
		.catch(request => console.log(request))
	    this.flashSuccess(message, {timeout: 2000})
	},
	editTrainer (tid) {
	    if (tid > 0) {
		let tr = this.trainers.find(x => x.id === tid)
		this.trainerName = tr.name
		this.trainerLogin = tr.login
		this.trainerPhone = tr.phone
		this.trainerIsAdmin = tr.admin
		this.trainerNote = tr.note
		this.trainerID = tr.id
		this.trainerType = tr.stafftype
		this.trainerGroupRate = tr.grouprate
		this.trainerPersonRate = tr.personrate
		this.trainerPersonalRate = tr.personalrate
		this.trainerSplitRate = tr.splitrate
		this.trainerMiniRate = tr.minirate
	    } else {
		this.trainerID = -1
		this.trainerName = ""
		this.trainerLogin = ""
		this.trainerPhone = ""
		this.trainerIsAdmin = false
		this.trainerNote = ""
		this.trainerType = ""
		this.trainerGroupRate = ""
		this.trainerPersonRate = ""
		this.trainerPersonalRate = ""
		this.trainerSplitRate = ""
		this.trainerMiniRate = ""

	    }
	    this.$modal.show('modalTrainer')
	},
	createTrainer (trid) {
	    if (trid < 0) {
		let postdata = { name: this.trainerName,
				 login: this.trainerLogin,
				 phone: this.trainerPhone,
				 admin: this.trainerIsAdmin,
				 stafftype: this.trainerType,
				 trainer: true,
				 is_confirmed: true,
				 note: this.trainerNote,
				 password: this.trainerPassword,
				 grouprate: this.trainerGroupRate,
				 personrate: this.trainerPersonRate,
				 personalrate: this.trainerPersonalRate,
				 splitrate: this.trainerSplitRate,
				 minirate: this.trainerMiniRate
			       }
		this.$axios.post(this.$backendhost+'staff', postdata)
		    .then(request => this.updateTrainers('Тренер добавлен'))
		    .catch(request => console.log(request))
	    } else {
		let patchdata = { name: this.trainerName,
				  login: this.trainerLogin,
				  phone: this.trainerPhone,
				  admin: this.trainerIsAdmin,
				  stafftype: this.trainerType,
				  trainer: true,
				  is_confirmed: true,
				  note: this.trainerNote,
				  grouprate: this.trainerGroupRate,
				  personrate: this.trainerPersonRate,
				  personalrate: this.trainerPersonalRate,
				  splitrate: this.trainerSplitRate,
				  minirate: this.trainerMiniRate

				}
		if (this.trainerPassword) {
		    patchdata.password = this.trainerPassword
		}
		this.$axios.patch(this.$backendhost+'staff/'+trid, patchdata)
		    .then(request => this.updateTrainers('Тренер изменен'))
		    .catch(request => console.log(request))
	    }
	    this.$modal.hide('modalTrainer')
	},
	updateTrainers(message) {
	    this.$axios.get(this.$backendhost+'staff')
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    this.flashSuccess(message, {timeout: 2000})
	},
    }

  }
</script>
<style>
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  }
</style>
