<template>
<div class="stats">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <h1>Статистика/отчёты <span v-if="this.stats">за {{this.selectedDate | moment("MMMM YYYY")}}</span></h1>
      	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
	Выбор месяца: <vue-monthly-picker v-model="selectedDate" :attributes='attrs'></vue-monthly-picker>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12" v-if="this.stats">
	<div class="card-columns">
	  <div class="card mb-3" v-for="(stat, key, index) in stats">
	    <div class="card-header bg-info text-light">
	      <a class="text-white" data-toggle="collapse" :href="'#collapse'+index" aria-expanded="false" :aria-controls="'collapse'+index">
		{{key}}
	      </a>
	      &nbsp;
	      <button type="button" class="btn btn-outline-light"  type="button" @click="getFile('trainers')" v-if="key == 'Детализация посещений по тренерам'">
		<img class="mb-1" width="20px" src="@/assets/download.svg">
	      </button>
	      <button type="button" class="btn btn-outline-light" @click="getFile('gyms')" v-if="key == 'Детализация посещений по площадкам'">
		<img class="mb-1" width="20px" src="@/assets/download.svg">
	      </button>
	      
	    </div>
	    <div class="collapse" :id="'collapse'+index">
	      <div class="card-body" v-html="stat">
		{{stat}}
	      </div>
	    </div>
	  </div>
	  
	</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import VueMonthlyPicker from 'vue-monthly-picker'

export default {
    name: 'Main',
    components: {
        VueMonthlyPicker
    },
    watch: {
	selectedDate: function(olddate, newdate) {
	    this.getStats()
	},
    },
    data () {
	return {
	    stats: "",
	    selectedDate: "",
	    attributes: [
		{
		    highlight: {
			backgroundColor: '#ff8080', // Red
			borderColor: '#ff6666',
			borderWidth: '2px',
			borderStyle: 'solid',
		    },
		    contentStyle: {
			color: 'white',
		    },
		}
	    ]
	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    methods: {
	//parseStat(st) {
	//    if (typeof st === 'number') {
	//	return {type: "int", data: st}
	//    } else {
	//	return {type:"table", data: st}
	//    }
	//},
	getFile(what) {
	    let seldate = this.$moment(this.selectedDate).format("YYYY-MM")
	    this.$axios.get(this.$backendhost+"statsdetails", {'params':{'date': seldate, 'obj': what}, responseType: 'blob'})
		.then(response => {
		    console.log(response)
		    let blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
		    const url = window.URL.createObjectURL(new Blob([response.data]))
		    const link = document.createElement('a')
		    link.href = url
		    link.setAttribute('download', what+"_"+seldate+'.xlsx')
		    document.body.appendChild(link)
		    link.click()
		    link.removeAttribute("href")
		})
	    
	},
	getStats() {
	    let seldate = this.$moment(this.selectedDate).format("YYYY-MM")
	    this.$axios.get(this.$backendhost+"stats", {'params':{'date': seldate}})
		.then(request => this.setData(request))
		.catch(request => { this.flashInfo('Данных не найдено', {timeout: 2000})
				    this.stats = ""
				  })
	},
	setData (request) {
	    this.stats = request.data
		}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  }
  span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
  }
  .blank_row
  .statusmessage {
      height: 22px !important; /* overwrites any other rules */
  }
</style>
