<template>
<div class="students">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h1>Данные </h1>
	
	Импорт расписания с o-skal.ru
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
	<div class="row">
	  <!--<div class="col-md-4">
	    <form class="form-inline mb-3" v-on:submit.prevent>
	      Импорт групп + добавление учеников к занятиям
	      <input type="file" id="visitsData">
	    </form>
	  </div>
	  -->
	  <!--<div class="col-md-4">
	    <form class="form-inline mb-3" v-on:submit.prevent="sendPaymentData">
	      Импорт платёжных данных. 
	      <input @change="onFileChange" type="file" id="paymentData" name="paymentData" ref="paymentFile">
	      <button type="submit" class="btn btn-primary">загрузить</button>
	    </form>
	  </div>
	  -->
	  <div class="col-md-4">
	    <form class="form-inline mb-3" v-on:submit.prevent="syncSchedule">
	      <button type="submit" class="btn btn-primary">Синхронизировать расписание</button>
	    </form>
	  </div>

	</div>
	
	<div class="row">
	  <div class="col-md-12">
	    <small>
	      <table class="table table-striped table-hover table-sm" v-if="loadedPayments">
		<thead>
		  <tr>
		    <th scope="col">дата</th>
		    <th scope="col">сумма</th>
		    <th scope="col">договор</th>
		    <th scope="col">плательщик</th>
		    <th scope="col">ученик</th>
		    <th scope="col">назначение</th>
		    <th scope="col">банк</th>
		    <th scope="col">услуга</th>
		    <th scope="col">количество</th>
		    <th scope="col">внес</th>
		    <th scope="col">время</th>
		    <th scope="col"></th>
		    <th scope="col"></th>
		    <th scope="col"></th>
		    <th scope="col"></th>
		  </tr>
		</thead>
		<tbody>
		  <tr v-for="(r, index) in loadedPayments" v-bind:class='r.guessed ? "table-success" : ""'>
		    <td class="align-middle">{{r.date}}</td>
		    <td class="align-middle">{{r.quantity}}</td>
		    <td class="align-middle">{{r.student ? r.student.contract_id : ""}}</td>
		    <td class="align-middle">{{r.payer}}</td>
		    <td class="align-middle">{{r.student ? r.student.name : ""}}</td>
		    <td class="align-middle">{{r.purpose}}</td>
		    <td class="align-middle">{{r.bank}}</td>
		    <td class="align-middle">{{r.price ? r.price.name : ""}}</td>
		    <td class="align-middle">{{r.amount}}</td>
		    <td class="align-middle">{{r.edited_by.name}}</td>
		    <td class="align-middle">{{r.edited | moment("utc", "DD.MM.YY, HH:mm")}}</td>
		    <td class="align-middle"><img v-if="r.saved" height="14px" class="ml-1" src="@/assets/circle-check.svg"></td>
		    <td class="align-middle"><img v-if="r.confirmed" height="18px" class="ml-1" src="@/assets/thumb-up.svg"></td>
		    <td class="align-middle"><button type="button" class="btn btn-outline-secondary" @click="editPayments(r.id)"><img class="mb-1" src="@/assets/pencil.svg"></button></td>
		    <td class="align-middle"><button type="button" class="btn btn-outline-secondary" @click="confirmPayments(r.id)"><img class="mb-1" src="@/assets/check.svg"></button></td>
		  </tr>
		</tbody>
	      </table>
	    </small>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'ImportData',
    data: function (){
	return {
	    paymentFile: "",
	    loadedPayments: "",
	    prices: ""
	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    mounted() {
	this.fetchData()
    },
    methods: {
	editPayments(pid) {
	    console.log("open modal window for user payments " + pid)
	},
	confirmPayments(pid) {
	    let ind = this.loadedPayments.findIndex(x => x.id == pid)
	    let p = this.loadedPayments[ind]
	    p.confirmed = !p.confirmed
	    this.$axios.patch(this.$backendhost+'payments/'+pid, {confirmed: p.confirmed})
		.then(request => this.updateData(request.data))
		.catch(request => console.log(request))
	},
	updateData(p) {
	    let findex = this.loadedPayments.findIndex(x => x.id == p.id)
	    this.loadedPayments[findex] = p
	    this.loadedPayments.push()
	}, 
	getPrice(pr_id) {
	    let res = this.prices.filter(x => x.id == pr_id)
	    if (res.length > 0) {
		return res[0].name
	    }
	},
	fetchData() {
	    this.$axios.get(this.$backendhost+'prices')
		.then(request => this.setData('prices', request))
		.catch(request => console.log(request))
	},
	setData(what, response) {
	    if (what == 'prices') {
		this.prices = response.data
	    }
	},
	onFileChange(e) {
	    let files = e.target.files || e.dataTransfer.files
	    if (!files.length) {
		return
	    }
	    this.paymentFile = files[0]

	    
	},
	syncSchedule() {
	    this.flashInfo("Синхронизируем расписание", {timeout: 2000})
	    this.$axios.post(this.$backendhost+'imports')
		//.then(request => this.flashSuccess("Данные синхронизированы", {timeout: 2000}))
		//.catch(request => console.log(request))
	    
	},
	sendPaymentData() {
	    let formData = new FormData()
	    formData.append('file', this.paymentFile, this.paymentFile.name)
	    // post
	    this.flashInfo("Отправляем файл " + this.paymentFile.name , {timeout: 2000})
	    this.$axios.post(this.$backendhost+'payments', formData, {
		headers: {
		    'Content-Type': 'multipart/form-data'
		}
	    })
		.then(request => {
		    this.flashSuccess("Данные обработаны", {timeout: 2000})
		    this.$refs.paymentFile.value = ''
		    this.loadedPayments = request.data
		    }
		)
		.catch(request => console.log(request))
	    
	}
    },
}
      
</script>

<style>

</style>>
