<template>
<div class="lessons">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h1>Тренировки {{this.numLessons}}</h1>
	<h5 v-if="stTrainer">{{this.stTrainer.name}} {{this.secTrainer.name}} {{this.stGym.name}} {{this.stGroup.name}}</h5>
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
	<modal name="modalLesson" :adaptive="true" width="90%" height="auto" :scrollable="true" :pivotY="1" @before-close="clearSearch">
	  <div class="container-fluid">
	    <div class="row">
	      &nbsp;
	    </div>
	    <div class="row mt-5">
	      <div class="col-md-12">
		<h3>Тренировка</h3>
		<lesson :lessondata="lesson"></lesson>
	      </div>
	    </div>
	  </div>
	</modal>
	
	<form class="form-inline mb-3" v-on:submit.prevent="lessonFilter">
	  
	  <div class="form-group col-md-12">
	    <span :v-model="filterMessage">{{filterMessage}}</span>
	    <input v-model="studentFilterData" type="text" class="form-control" id="searchStudents" placeholder="имя, телефон или email"  @input="studentFilter()">

	    <select v-model="stTrainer"  class="form-control col-md-3 ml-2" id="searchTrainer" @change="getGyms" @focus="clearSearch">
	      <option></option>
	      <option v-for="tr in trainers" :value="tr">{{tr.name}}</option>
	    </select>
	    
	    <select v-model="secTrainer"  class="form-control col-md-3 ml-2" id="searchSecTrainer" @change="getGyms" @focus="clearSearch">
	      <option></option>
	      <option v-for="tr in trainers" :value="tr">{{tr.name}}</option>
	    </select>

	    <select v-model="stGym" v-if="gyms.length" class="form-control col-md-3 ml-2" id="searchGym" @change="getGroups">
	      <option></option>
	      <option v-for="gm in gyms" :value="gm">{{gm.name}}</option>
	    </select>
	    
	    <select v-model="stGroup" v-if="groups.length" class="form-control col-md-3 ml-2" id="searchGroups" >
	      <option></option>
	      <option v-for="gr in groups" :value="gr">{{gr.name}} ({{gr.numstudents}})</option>
	    </select>

	  </div>
	  <div class="form-group col-md-4 mt-2">
	    <input v-model="lessonsFrom" @change="syncDates" class="form-control" type="date" id="lessonsFrom">
	    <input v-model="lessonsTo" class="form-control ml-2" type="date" id="lessonsTo">
	    <div class="form-group ml-2">
	      <button class="btn btn-primary" type="submit">Найти</button>
	    </div>

	  </div>
	</form>
	
	<table class="table table-striped table-hover" v-if="lessons">
	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col">время</th>
		<!--<th scope="col">отмечен</th>-->
		<th scope="col">тренер</th>
		<th scope="col">второй тренер</th>
		<th scope="col">зал</th>
		<th scope="col">группа</th>
		<th scope="col">кол-во учеников</th>
		<th v-if="currentUser.isadmin" scope="col"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="align-middle" v-for="(les, index) in lessons">
		<th class="align-middle" scope="row">{{index + 1}}</th>
		<td class="align-middle">{{les.start | moment("utc", "DD.MM.YY, HH:mm")}}</td>
		<td class="align-middle">{{les.trainer}}</td>
		<td class="align-middle">{{les.strainer}}</td>
		<td class="align-middle">{{les.gym}}</td>
		<td class="align-middle">{{les.group ? les.group : les.lessontype}}</td>
		<td class="align-middle">{{les.numstudents}}</td>
		<td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-secondary" @click="editLesson(les.id)"><img class="mb-1" height="13px" src="@/assets/pencil.svg"></button></td>
	      </tr>
	    </tbody>
	</table>
	
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import Lesson from './Lesson'
export default {
    name: 'Lessons',
    data: function (){
	return {
	    lessons: "",
	    lessonID: "",
	    lessonsFrom:"",
	    lessonsTo:"",
	    studentFilterData: "",
	    filterMessage: "",
	    studentAdditionalData: "",
	    trainers:"",
	    gyms:"",
	    groups:"",
	    stTrainer: "",
	    secTrainer: "",
	    stGym: "",
	    stGroup: "",
	    lesson: "",
	    numLessons: ""
	}
    },
    components: {
	Lesson,
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    mounted() {
	this.fetchData()
    },
    methods: {
	syncDates() {
	    this.lessonsTo = this.lessonsFrom
	},
	editLesson(lid) {
	    console.log('edit lesson')
	    this.lessonID = lid
	    this.getLessonInfo()
	},
	getLessonInfo() {
	    if (this.lessonID) {
		this.$axios.get(this.$backendhost+"lessons/" + this.lessonID)
		    .then(request => {this.lesson = request.data
				      this.$modal.show('modalLesson')})
		    .catch(request => this.flashWarning('Данных не найдено', {timeout: 6000}))
	    }
	},
	clearSearch() {
	    this.groups = ""
	    this.gyms = ""
	    this.stGym = ""
	    this.stGroup = ""
	    this.numLessons = ""
	    this.lessonsFrom = ""
	    this.lessonsTo = ""
	},
	getGyms() {
	    this.studentFilterData = ''
	    let params = {'params': {}}
	    if (this.stTrainer) {
		params.params.staff = this.stTrainer.id
	    }
	    if (this.secTrainer) {
		params.params.strainer = this.secTrainer.id
	    }
	    console.log(params)
	    this.$axios.get(this.$backendhost+'gyms', params)
		.then(request => this.setData('gyms', request))
		.catch(request => { console.log(request)
				    this.gyms = ""
				  })
	},
	getGroups() {
	    this.$axios.get(this.$backendhost+'groups', {'params': {'gym': this.stGym.id, 'staff': this.stTrainer.id}})
		.then(request => this.setData('groups', request))
		.catch(request => {console.log(request)
				   this.groups = ""
				  })
	},

	studentFilter () {
	    this.clearSearch()
	    if (this.studentFilterData && this.studentFilterData.length > 2) {
		this.$axios.get(this.$backendhost+"lessons", {'params':{'query': this.studentFilterData}})
		    .then(request => this.setData('lessons', request))
		    .catch(request => {this.flashWarning('Данных не найдено', {timeout: 6000})
				       this.lessons = ""
				      })
	    } else {
		this.lessons = null
		this.filterMessage = ""
	    }
	},
	lessonFilter () {
	    let query = {
		'params': {
		    'group_id': this.stGroup.id
		}
	    }
	    query['params'].gym_id = this.stGym.id
	    query['params'].staff_id = this.stTrainer.id
	    query['params'].strainer_id = this.secTrainer.id
	    query['params'].from = this.lessonsFrom
	    query['params'].to = this.lessonsTo
	    
	    this.$axios.get(this.$backendhost+"lessons", query)
		.then(request => this.setData('lessons', request))
		.catch(request => this.flashWarning('Данных не найдено', {timeout: 6000}))
	},
	fetchData () {
	    this.$axios.get(this.$backendhost+'staff', {'params': {'staff': 'trainers'}})
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    
	},
	setData(what, response) {
	    if (what == 'lessons') {
		this.lessons = response.data
		this.numLessons = ", найдено " + this.lessons.length
	    } else if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'gyms') {
		this.gyms = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
	    }
	}
    },
}
      
</script>

<style>
.table-sm{
  font-size: 14px;
}
</style>>
