<template>
<form v-if="lesson.trainer_id===currentUser.user_id || currentUser.superadmin" v-on:submit.prevent>
  <div class="card mt-2">
    <div class="card-header">
      <a  data-toggle="collapse" :href="'#aaa'+lesson.id" role="button" aria-expanded="false" :aria-controls="'aaa'+lesson.id">
	{{this.lesson.gym}} {{ this.lesson.start | moment("utc", "HH:mm")}} - {{this.lesson.end| moment("utc", "HH:mm")}} {{this.lesson.group}} {{this.lesson.strainer}}
      </a>
    </div>
    <div class="card-body">
      <div class="collapse" :id="'aaa'+lesson.id">
	<div class="form-row">
	  <div class="form-group col-md-12">
	    <select v-model="lessonStrainer"  class="form-control" id="inputStrainer" placeholder="второй тренер" @change="updateLesson" aria-describedby="groupSecondTrainerHelp">
	      <option value="" >второй тренер</option>
	      <option :value="tr.id" v-for="tr in trainers">{{tr.name}}</option>
	    </select>
	    <small id="groupSecondTrainerHelp" class="form-text text-muted">
	      второй тренер
	    </small>
	  </div>
	</div>
	<div class="form-row" v-for="st in this.fstudents">
	  
	  <listbutton :stid="st.id" :lid="lesson.id" :stname="st.name.split(' ').slice(0,2).join(' ')" :editable="editable(st)" :hasticket="hasticket(st)" :staffid="currentUser.user_id"></listbutton> 
	  
	</div>
	<br>
	<button class="btn btn-outline-info" @click="showStudentForm()"><small class="align-top">Новый ученик</small></button>
	
	<modal :name="'aaa'+lesson.id" :adaptive="true" width="90%" height="auto" :scrollable="true" :pivotY="0.4" @before-close="clearForm">
	  <div class="container-fluid mt-4">
	    <div class="row">
	      <div class="col-md-12 mt-5">
		<h4>Новый ученик</h4>
		<flash-message transition-name="fade"></flash-message>
		
		<form v-on:submit.prevent>
		  <div class="form-row">
		    <input v-model="studentFilterData" type="text" class="form-control" id="inputSearch" placeholder="поиск: имя, телефон или email" @input="studentFilter()" aria-describedby="studentSearchHelp">
		    <small id="studentSearchHelp" class="form-text text-muted">
		      {{this.filterMessage}}
		    </small>
		  </div>
		  <div>
		    <span v-for="st in existingstudents" >
		      <button type="button" class="btn btn-outline-secondary mt-2 ml-2" v-on:click="editStudent(st.id)"><small>{{ st.name }} {{st.age}} {{st.age? 'лет' : ''}} <img src="@/assets/chevron-right.svg"></small></button> 
		    </span>
		  </div>
		  <hr class="mt-5 mb-5" />
		  <div class="form-row mt-2">
		    
		    <div class="form-group col-md-2">
		      <input v-model="studentBdate" class="form-control" type="date" id="studentBdate">
		    </div>
		    <div class="form-group col-md-4">
		      <input v-model="studentName" type="text" class="form-control" id="inputName" placeholder="Имя" @input="clearSearch" required>
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentPhone" type="text" class="form-control" id="inputPhone" placeholder="Телефон" >
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentEmail" type="email" class="form-control" id="inputEmail" placeholder="эл. почта" >
		    </div>
		  </div>
		  <div class="form-row">
		    <button type="submit" @click="addNewStudent()" class="btn btn-primary btn-block">добавить</button>
		  </div>
		</form>
	      </div>
	    </div>
	  </div>
	</modal>

      </div>
    </div>
  </div>
</form>
</template>
<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import Listbutton from './Listbutton'

export default {
    name: 'Lesson',
    props: ['lessondata', 'trainers'],
    components: {
	Listbutton
    },
    data: function (){
	return {
	    lesson: "",
	    studentId: "",
	    studentBdate: "",
	    studentName: "",
	    studentPhone: "",
	    studentEmail: "",
	    studentFilterData: "",
	    newStudent: "",
	    visitdata: [],
	    students:[],
	    fstudents: [],
	    existingstudents: [],
	    filterMessage: "",
	    existingStudent: null,
	    lessonStrainer: null
	}
    },
   mounted() {
	this.fetchData()
    },
    methods: {
	updateLesson() {
	    let patchdata = {strainer_id: this.lessonStrainer}
	    this.$axios.patch(this.$backendhost+'lessons/' + this.lesson.id, patchdata)
	    this.lesson.strainer_id = this.lessonStrainer
	    let trindex = this.trainers.findIndex(x => x.id == this.lessonStrainer)
	    if (trindex !== -1) {
		this.lesson.strainer = this.trainers[trindex].name
	    } else {
		this.lesson.strainer = null
	    }
	},
	editStudent (stid) {
	    if (stid && stid > 0) {
		let stud = this.existingstudents.find(x => x.id === stid)
		this.existingStudent = stud
		this.studentName = stud.name
		this.studentPhone = stud.phone
		this.studentEmail = stud.email
		this.studentBdate = stud.bdate
		// clear
		this.studentFilterData = ""
		this.existingstudents = null
		this.filterMessage = ""
	    }
	},
	studentFilter () {
	    if (this.studentFilterData && this.studentFilterData.length > 2) {
		this.$axios.get(this.$backendhost+"students", {'params':{'query': this.studentFilterData, 'lesson_id': this.lesson.id}})
		    .then(request => this.setfiltereddata(request))
		    .catch(request => this.nothingFound(request))
	    } else {
		this.existingstudents = null
		this.filterMessage = ""
	    }
	},
	setfiltereddata(request) {
	    this.filterMessage = "Найдено " + request.data.length + " человек"
	    this.existingstudents = request.data
	},
	nothingFound (request) {
	    this.filterMessage = "Никого не найдено"
	    this.existingstudents = null
	},
	clearForm() {
	    this.studentId = ""
	    this.studentBdate = ""
	    this.studentName = ""
	    this.studentPhone = ""
	    this.studentEmail = ""
	},
	clearSearch() {
	    this.studentFilterData = ""
	    console.log('clear')
	},
	showStudentForm() {
	    this.$modal.show('aaa'+this.lesson.id)
	},
	updateSTID(response) {
	    // created student
	    this.studentId = response.data.id
	    // by default add to the lesson but group
	    if (this.studentId) {
		let patchdata = {student_ids: [this.studentId]}
		this.$axios.patch(this.$backendhost+'lessons/' + this.lesson.id, patchdata)
		    .then(request => console.log(request))
		    .catch(request => console.log(request))
	    }
	    
	    this.fstudents.push(response.data)
	    this.clearForm()
	    this.$modal.hide('aaa'+this.lesson.id)
	    
	},
	addNewStudent() {
	    // add new student
	    if (! this.existingStudent ) {
		let postdata = { name: this.studentName,
				 phone: this.studentPhone,
				 email: this.studentEmail,
				 bdate: this.studentBdate,
				 note: "добавлен тренером",
				 staff_id: this.currentUser.user_id
			       }
		this.$axios.post(this.$backendhost+'students', postdata)
		    .then(request => this.updateSTID(request))
		    .catch(request => {console.log(request)
				       this.flashWarning('Кажется, такой ученик уже есть, воспользуйтесь поиском', {timeout: 6000})
				      })
		console.log("added new student")
	    } else {
		this.studentId = this.existingStudent.id
		let patchdata = {student_ids: [this.studentId]}
		this.$axios.patch(this.$backendhost+'lessons/' + this.lesson.id, patchdata)
		    .then(request => console.log(request))
		    .catch(request => console.log(request))
		
		// нет, билеты добавляет админ
		// add ticket? if there's no valid ticket
		//let ticketdata = {student_id: this.studentId,
		//		  note: "добавлен тренером"
		//		 }
		this.fstudents.push(this.existingStudent)
		this.clearForm()
		this.$modal.hide('aaa'+this.lesson.id)
	    }

	}, 
	filterStudents () {
	    // filter students to show in lesson
	    // replace with lesson.students
	    // and only check if ticket is valid
	    this.students.forEach( (st) => {
		this.fstudents.push(st)
	    })
	},
	// replace with lessondata.students - already filtered
	fetchData () {
	    this.$axios.get(this.$backendhost+'lessons/' + this.lessondata.id)
		.then(request => this.setData(request))
		.catch(request => console.log(request))
	},
	setData(response) {
	    this.lesson = response.data
	    this.students = this.lesson.students
	    this.lessonStrainer = this.lesson.strainer_id
	    this.filterStudents()
	},
	hasticket (student) {
	    if (student.lastvalidticket.id ) {
		return true
	    }
	},
	editable (student) {
	    // switched off a possibility to mark visits for strainer
	    // and for those without valid ticket 
	    //if (this.currentUser.user_id === this.lesson.trainer_id && student.lastvalidticket.id) {
	    return true
	    //}
	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
    },
}
</script>
<style>
</style>>
