<template>
<div v-if="showing">
  <toggle-button  class="mt-2 ml-1 mr-1" @change="markVisited(lid, stid, staffid)" :value="checked" :sync="true" :labels="{checked: studentname, unchecked: studentname}" :width=160 :height='40' :color="{checked:'#26baee', unchecked:disabledcolor}" :disabled="!editable"/>
  <toggle-button class="mt-2 ml-1 mr-1" :labels="{checked:'Р', unchecked: 'А'}" :height=40 :width=60 @change="markVisitType(lid, stid, staffid)" :value="vtype" :sync="true" :disabled="!checked" :color="{checked:'#f16f6f', unchecked:'#94d2e6'}"/>
  <span v-if="currentUser.isadmin && !vid"><button type="button" class="btn btn-outline-danger" v-on:click="deleteUserFromLesson(lid, stid)"><img class="mb-1" src="@/assets/trash.svg"></button></span>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Listbutton',
    props: ['stid', "lid", "stname", 'editable', 'hasticket', 'staffid'],
    data: function (){
	return {
	    checked: false,
	    cancelled: false,
	    vid: false,
	    vtype: false,
	    disabledcolor: "#bfcbd9",
	    showing: true
	}
    },
    mounted() {
	this.fetchData()
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
	studentname () {
	    //if (this.hasticket) {
		return this.stname
	    //} else {
		//return "<img src='" + require( '@/assets/warning.svg')+"'>" + this.stname
	  //  }
	},
    },
    methods: {
	deleteUserFromLesson(lid, stid) {
	    this.$axios.delete(this.$backendhost+'lessons/'+lid+'/students/'+stid)
		.then(request => {this.showing = false} )
		.catch(request => console.log(request))
	},
	fetchData () {
	    this.$axios.get(this.$backendhost+'visits', {params: {student_id: this.stid, lesson_id: this.lid, show_cancelled: true}})
		.then(request => this.setData(request.data))
		.catch(request => null)
	    
	},
	markVisitType() {
	    this.vtype = !this.vtype
	    let vtypevalue = 'multi'
	    if (this.vtype === true) {
		vtypevalue = 'single'
	    }
	    if (this.vid) {
		this.$axios.patch(this.$backendhost+'visits/'+this.vid, {visittype: vtypevalue, staff_id:this.staffid, visited: this.checked, cancelled: this.cancelled, })
		    .then(request => this.setData(request.data))
		    .catch(request => console.log(request))
	    }
	},
	markVisited() {
	    this.checked = !this.checked
	    // also subtract 1 visit from student ticket on every post
	    if (this.vid) {
		// patch
		//console.log(this.checked)
		let cncld = true
		console.log(this.vid, this.staffid)
		
		this.$axios.patch(this.$backendhost+'visits/'+this.vid, {visited: this.checked, cancelled: cncld, staff_id: this.staffid})
		    .then(request => this.setData(request.data))
		    .catch(request => console.log(request))
	    } else {
		//post
		this.$axios.post(this.$backendhost+'visits', {student_id: this.stid, lesson_id: this.lid, visited: true, cancelled: false, staff_id: this.staffid})
		    .then(request => this.setData(request.data))
		    .catch(request => console.log(request))
	    }
	},
	
	setData(visit) {

	    if (visit[0]) {
		visit = visit[0]
	    }
	    //console.log("SET DATA", visit)
	    this.checked = visit.visited
	    this.vid = visit.id
	    this.cancelled = visit.cancelled
	    this.vtype = visit.visited
	    if ( this.cancelled === true ) {
		this.disabledcolor = "#b899ff"
	    }
	    
	    if (visit.visittype === 'single') {
		//console.log(visit)
		this.vtype = true
	    } else {
		this.vtype = false
	    }
	    
	}
    },
}
      
</script>

<style>

</style>>
