<template>
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">О'Скал [V0.1]</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseMenu">
      <ul class="navbar-nav mr-auto">
	<li v-if="currentUser && (currentUser.superadmin || currentUser.istrainer)" class="nav-item">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" :to="{ name: 'Main' }"> Отчёты </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-item">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" :to="{ name: 'ImportData' }"> Импорт данных </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/students"> Ученики </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/visits"> Посещения </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/lessons"> Тренировки </router-link>
	</li>

	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/admin"> Запись </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/groups"> Группы </router-link>
	</li>
	<li v-if="currentUser && currentUser.isadmin" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/trainings"> Расписание </router-link>
	</li>
	<li v-if="currentUser && currentUser.istrainer" class="nav-tem">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/timetable"> Тренировки </router-link>
	</li>
	<li v-if="currentUser" class="nav-item">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/logout"> Выйти </router-link>
	</li>
	<li v-else class="nav-item">
	  <router-link @click.native="closeMenu($event)" class="btn nav-link" to="/login"> Войти </router-link>
	</li>
      </ul>
      
	<span v-if="currentUser" class="navbar-text">
	  {{ currentUser.name }} <span class="badge badge-primary">{{currentUser.name == "Андрей Гончар" ? "мегаадмин" : staffstatus}}</span>
	</span>
    </div>
  </nav>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Navbar',
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
	staffstatus () {
	    if (this.currentUser.superadmin) {
		return 'суперадмин'
		} else if (this.currentUser.isadmin) {
		    return 'администратор'
		} else if (this.currentUser.istrainer) {
		    return 'тренер'
		}
	},
    },
    methods: {
        closeMenu($event) {
	    $($event.currentTarget).closest('.navbar-collapse').collapse('hide')
        }
    }
}
</script>

<style lang="scss" scoped>

.btn-logout {
  background-color: #837A75;
  border-color: #837A75;
  color: #fff;
}

</style>
