<template>

<div class="students">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h1>Ученики <button class="btn btn-outline-info" @click="showStudentForm()"><small class="align-top"><img src="@/assets/plus.svg"></small>&nbsp;</button><button v-if="currentUser.superadmin" type="button" @click="showArchivedStudents()" class="btn btn-outline-primary">Показать {{showingArchived ? "всех" : "удаленных"}}</button></h3></h1>
	
	<modal name="newstudentform" :adaptive="true" width="90%" height="auto" :scrollable="true" :pivotY="0.4" @before-close="clearForm">
	  <div class="container-fluid mt-4">
	    <div class="row">
	      <div class="col-md-12 mt-5">
		<h4>Новый ученик</h4>
		<flash-message transition-name="fade"></flash-message>
		
		<form v-on:submit.prevent>
		  <div class="form-row">
		    <input v-model="studentFilterData" type="text" class="form-control" id="inputSearch" placeholder="поиск: имя, телефон или email" @input="studentFilter()" aria-describedby="studentSearchHelp">
		    <small id="studentSearchHelp" class="form-text text-muted">
		      {{this.filterMessage}}
		    </small>
		  </div>
		  <hr class="mt-5 mb-5" />
		  <div class="form-row mt-2">
		    
		    <div class="form-group col-md-2">
		      <input v-model="studentBdate" class="form-control" type="date" id="studentBdate">
		    </div>
		    <div class="form-group col-md-4">
		      <input v-model="studentName" type="text" class="form-control" id="inputName" placeholder="Имя" @input="clearSearch" required>
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentPhone" type="text" class="form-control" id="inputPhone" placeholder="Телефон" >
		    </div>
		    <div class="form-group col-md-3">
		      <input v-model="studentEmail" type="email" class="form-control" id="inputEmail" placeholder="эл. почта" >
		    </div>
		  </div>
		  <div class="form-row">
		    <button type="submit" @click="addNewStudent()" class="btn btn-primary btn-block">добавить</button>
		  </div>
		</form>
	      </div>
	    </div>
	  </div>
	</modal>

	<h5 v-if="stTrainer">{{this.stTrainer.name}}, {{this.stGym.name}}, {{this.stGroup.name}}</h5>
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
	<p>
	  * желтым обозначены ученики, последнее посещение у которых было более 10 дней назад, синим обозначены ученики, которые посещали занятия не более одного раза
	</p>
	<form class="form-inline mb-3" v-on:submit.prevent="studentAdditionalFilter">
	  
	  <div class="form-group col-md-2">
	    <span :v-model="filterMessage">{{filterMessage}}</span>
	    <input v-model="studentFilterData" type="text" class="form-control" id="searchStudents" placeholder="имя, телефон или email"  @input="studentFilter()">
	  </div>

	  <div class="form-group col-md-2 ml-3">
	    <input v-model="stContractNum" type="number" class="form-control" id="searchStudentsByContract" placeholder="номер договора">
	  </div>

	  <div class="form-group col-md-2 ml-4">
	    <input v-model="stAge" type="number" class="form-control" id="searchStudentsByAge" placeholder="возраст">
	  </div>
	  <div class="form-group col-md-2 ml-3">
	    <div class="form-check form-check-inline">
	      <input v-model="stGender" class="form-check-input" type="radio" name="stGender" id="stGenderM" value="m">
	      <label class="form-check-label" for="stGenderM">
		М
	      </label>
	    </div>
	    <div class="form-check form-check-inline">
	      <input v-model="stGender" class="form-check-input" type="radio" name="stGender" id="stGenderF" value="f">
	      <label class="form-check-label" for="stGenderF">
		Ж
	      </label>
	      <button type="button" class="btn btn-outline-info ml-2" v-on:click="uncheckGender"><img height="13px" class="mb-1" src="@/assets/x.svg"></button>
	    </div>
	  </div>

	    <div class="form-group col-md-3 mt-2">
	      <select v-model="stGrade"  class="form-control" id="inputGrade" placeholder="разряд" >
		<option value="">Без разряда</option>
		<option value="III юношеский">III юношеский</option>
		<option value="II юношеский">II юношеский</option>
		<option value="I юношеский">I юношеский</option>
		<option value="III спортивный">III спортивный</option>
		<option value="II спортивный">II спортивный</option>
		<option value="I спортивный">I спортивный</option>
		<option value="КМС">КМС</option>
		<option value="МС">МС</option>
		<option value="МСМК">МСМК</option>
	      </select>
	    </div>

	    <div class="form-group col-md-2 mt-2">
	      <select v-model="stVisits"  class="form-control" id="inputGrade" placeholder="посещения" >
		<option value="frequent">был менее 10 дней назад</option>
		<option value="rare">был более 10 дней назад</option>
	      </select>
	    </div>
	  
	  <div class="form-group col-md-9 mt-2">
	    <span :v-model="filterAdditionalMessage">{{filterAdditionalMessage}}</span>
	    <select v-model="stTrainer"  class="form-control col-md-3" id="searchTrainer" @change="getGyms" @focus="clearSearch" aria-describedby="groupTrainerHelp">
	      <option v-for="tr in trainers" :value="tr">{{tr.name}}</option>
	    </select>

	    <select v-model="stGym" v-if="gyms.length" class="form-control col-md-3 ml-2" id="searchGym" @change="getGroups" aria-describedby="groupGymName">
	      <option v-for="gm in gyms" :value="gm">{{gm.name}}</option>
	    </select>
	    
	    <select v-model="stGroup" v-if="groups.length" class="form-control col-md-3 ml-2" id="searchGroups" aria-describedby="groupGroupName">
	      <option v-for="gr in groups" :value="gr">{{gr.name}} ({{gr.numstudents}})</option>
	    </select>

	    <div class="form-group col-md-1">
	      <button class="btn btn-primary" type="submit">Найти</button>
	    </div>

	    
	  </div>
	  
	</form>
	
	<table class="table table-striped table-hover table-sm" v-if="fstudents">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">дог.</th>
	      <th scope="col">имя</th>
	      <th scope="col">д/р</th>
	      <th scope="col">email</th>
	      <th scope="col">тлф</th>
	      <th scope="col">последнее посещ.</th>
	      <th v-if="currentUser.isadmin"scope="col"></th>
	      <th v-if="currentUser.superadmin" scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="align-middle" v-for="(st, index) in fstudents" v-bind:class="{ 'table-warning': st.rarevisitor, 'table-info': st.beginner, 'table-danger': st.is_deleted }">
	      <th class="align-middle" scope="row">{{index + 1}}</th>
	      <td class="align-middle">{{st.contract_id}}</td>
	      <td class="align-middle">{{st.name}}</td>
	      <td class="align-middle">{{st.bdate}}</td>
	      <td class="align-middle">{{st.email}}</td>
	      <td class="align-middle">{{st.phone}}</td>
	      <td class="align-middle">{{st.lastvisit | moment }}</td>
	      <td v-if="currentUser.isadmin"><router-link type="button" class="btn btn-outline-secondary align-middle" :to="{ name: 'Student', params: {id: st.id, student:st}}"><img class="mb-1" height="13px" src="@/assets/info.svg"></router-link></td>
	      <td v-if="currentUser.superadmin"><button type="button" class="btn btn-outline-danger" v-on:click="deleteStudent(st.id)"><img height="13px" class="mb-1" src="@/assets/trash.svg"></button></td>
	    </tr>
	  </tbody>
	</table>
	
      </div>
    </div>
  </div>
</div>

</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
    name: 'Students',
    data: function (){
	return {
	    students: "",
	    fstudents: "",
	    studentFilterData: "",
	    filterMessage: "",
	    studentAdditionalData: "",
	    filterAdditionalMessage: "",
	    trainers:"",
	    gyms:"",
	    groups:"",
	    stGender:"",
	    stVisits: "rare",
	    stAge:"",
	    stGrade: "",
	    stContractNum:"",
	    stTrainer: "",
	    stGym: "",
	    stGroup: "",
	    studentEmail: "",
	    studentBdate: "",
	    studentName: "",
	    studentPhone: "",
	    message: null,
	    showingArchived: false

	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    mounted() {
	this.fetchData()
    },
    filters: {
	moment: function (date) {
	    
	    return date ? moment(date).format('DD-MM-YY') : ''
	}
    },
    methods: {
	moment: function () {
	    return moment();
	},
	uncheckGender () {
	    this.stGender = ""
	    },
	addNewStudent () {
	    if (this.fstudents  & this.fstudents.length > 0) {
		this.flashWarning('Кажется, такой ученик уже есть, воспользуйтесь поиском', {timeout: 6000}) } else {
		    let postdata = { name: this.studentName,
				     phone: this.studentPhone,
				     email: this.studentEmail,
				     bdate: this.studentBdate,
				     staff_id: this.currentUser.user_id
				   }
		    this.$axios.post(this.$backendhost+'students', postdata)
			.then(request => this.flashInfo("Новый ученик добавлен", {timeout:6000}))
		}	    
	},
	clearForm() {
	    this.studentId = ""
	    this.studentBdate = ""
	    this.studentName = ""
	    this.studentPhone = ""
	    this.studentEmail = ""
	},
	showStudentForm() {
	    this.$modal.show('newstudentform')
	},
	deleteStudent(stid) {
	    this.$axios.delete(this.$backendhost+'students/'+stid)
		.then(request => { this.flashWarning('Ученик удален', {timeout: 6000})
				   let stindex = this.students.findIndex(x => x.id === stid)
				   if ( this.stindex ) {
				       this.students.splice(stindex, 1)
				   }
				   
				   let fstindex = this.fstudents.findIndex(x => x.id === stid)
				   if (this.fstudents) {
				       this.fstudents.splice(stindex, 1)
				   }
				   //console.log(stindex, fstindex)
				 })
		.catch(request => { console.log(request)
				    this.flashWarning('Ошибка при удалении ученика', {timeout: 6000})
				  })

	},
	clearSearch() {
	    this.groups = ""
	    this.gyms = ""
	    this.stGym = ""
	    this.stGroup = ""
	},
	getGyms() {
	    this.$axios.get(this.$backendhost+'gyms', {'params': {'staff': this.stTrainer.id}})
		.then(request => this.setData('gyms', request))
		.catch(request => { console.log(request)
				    this.gyms = ""
				  })
	},
	getGroups() {
	    this.$axios.get(this.$backendhost+'groups', {'params': {'gym': this.stGym.id, 'staff': this.stTrainer.id}})
		.then(request => this.setData('groups', request))
		.catch(request => {console.log(request)
				   this.groups = ""
				  })
	},

	studentFilter () {
	    if (this.studentFilterData && this.studentFilterData.length > 2) {
		this.$axios.get(this.$backendhost+"students", {'params':{'query': this.studentFilterData}})
		    .then(request => this.setData('students', request))
		    .catch(request => {
			if (this.message) {
			    this.message.destroy()
			}
			this.message = this.flashWarning('Никого не найдено', {timeout: 6000})
				       console.log(this.message.id)
				       this.students = null
				       this.fstudents = null
				       
				      })
	    } else {
		this.students = null
		this.filterMessage = ""
	    }
	},
	showArchivedStudents() {
	    
	    let querystr = null
	    if (!this.showingArchived) {
		querystr = 'students?archived=1'
	    } else {
		querystr = 'students'
	    }
	    this.$axios.get(this.$backendhost+querystr)
		.then(request => {
		    this.setData('students', request)
		    this.showingArchived = !this.showingArchived
		}
		     )
		.catch(request => console.log(request))
	},
	studentAdditionalFilter () {
	    this.studentFilterData = ''
	    //stGender
	    //stVisits
	    //stAge
	    //stGrade
	    //stContractNum
	    let query = {
		'params': {
		    'group': this.stGroup.id,
		    'gender': this.stGender,
		    'visits': this.stVisits,
		    'age': this.stAge,
		    'grade': this.stGrade,
		    'contractnum': this.stContractNum
		}
	    }
	    console.log(query)
	    
	    this.$axios.get(this.$backendhost+"students", query)
		.then(request => this.setData('students', request))
		.catch(request => { this.flashWarning('Никого не найдено', {timeout: 6000})
				    this.students = null
				    this.fstudents = null
				  })
	},
	fetchData () {
	    this.$axios.get(this.$backendhost+'students')
		.then(request => this.setData('students', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'staff', {'params': {'staff': 'trainers'}})
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    
	},
	setData(what, response) {
	    if (what == 'students') {
		this.students = response.data
		this.fstudents = this.students
	    } else if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'gyms') {
		this.gyms = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
	    }
	}
    },
}
      
</script>

<style>

</style>>
