<template>

<div class="students">
  
  <modal name="modalLessons" :adaptive="true" width="70%" height="auto" :scrollable="true" @before-close="clearLessons" @before-open="fetchLessons">
    <div class="container-fluid">
      <div class="row">
	&nbsp;
      </div>
      <div class="row">
	<div class="col-md-12">
	  <h3>{{this.lid > 0 ? "Перенос тренировки" : "Добавить тренировку"}}</h3>
	  <form v-on:submit.prevent>
	    <div class="form-row">
	      
	      <div class="card mb-3" v-for="day, key in this.lessons">
		<div class="card-header bg-info text-light">
		  {{key | moment("dddd, Do MMMM YYYY")}}
		</div>
		<div class="card-body">
		  <div class="form-check" v-for="l in day">
		    <input class="form-check-input" type="radio" name="lessonRadio" :id="'lessonRadio'+l.id" v-model="selectedLesson" :value="l.id">
		    <label class="form-check-label" for="'lessonRadio'+l.id">
		      {{l.start | moment("utc", "DD.MM.YY, HH:mm")}} {{l.gym}} {{l.group}} {{l.trainer}}
		    </label>
		  </div>
		</div>
	      </div>
	    </div>
	    <button type="submit" @click="transferLesson()" class="btn btn-primary btn-block mt-4">Сохранить</button>&nbsp;
	  </form>
	</div>
      </div>
    </div>
  </modal>
  
  <modal name="modalGroups" :adaptive="true" width="70%" height="auto" :scrollable="true" @before-close="clearGroups" @before-open="fetchGroups">
    <div class="container-fluid">
      <div class="row">
	&nbsp;
      </div>
      <div class="row">
	<div class="col-md-12">
	  <h3>Группы</h3>
	  <form v-on:submit.prevent>
	    <div class="form-check" v-for="g in this.groups">
	      <input class="form-check-input" v-model="selectedGroups" type="checkbox" :id="g.id" :value="g.id">
	      <label class="form-check-label" :for="'defaultCheck'+g.id">
		{{g.trainer.name}} {{g.name}} {{g.gym.name}} 
	      </label>
	    </div>
	    <button type="submit" @click="saveGroups()" class="btn btn-primary btn-block mt-4">Сохранить</button>&nbsp;
	  </form>
	</div>
      </div>
    </div>
  </modal>
  
  <modal name="modalTickets" :adaptive="true" width="70%" height="auto" :scrollable="true">
    <div class="container-fluid">
      <div class="row">
	&nbsp;
      </div>
      <div class="row">
	<div class="col-md-12">
	  <h3>{{ this.tid > 0 ? "Абонемент  с " + this.ticket.date +" до "+this.ticket.ends : "Добавить абонемент"}} </h3>
	  
	  
	  <form v-on:submit.prevent>
	    <div class="form-row">
	      <div class="col-md-4">
		<label for="priceId">Цена</label>
		<select v-model="price"  class="form-control" id="priceId" placeholder="цена">
		  <option>цена</option>
		  <option v-for="pr in prices" :value="pr.id">{{pr.name}} {{pr.price}}</option>
		</select>
	      </div>
	      <div class="col-md-2">
		<label for="inputVisitsLeft">Посещения</label>
		<input type="number" v-model="visitsLeft"  class="form-control" id="inputVisitsLeft" placeholder="осталось тренировок" required>
	      </div>
	      
	      <div class="col-md-2">
		<label for="inputTransfers">Переносы</label>
		<input type="number" v-model="transfers"  class="form-control" id="inputTransfers" placeholder="переносы" required>
	      </div>
	      <div class="col-md-2">
		<label for="inputCancels">Отмены</label>
		<input type="number" v-model="cancels"  class="form-control" id="inputCancels" placeholder="отмены" required>
	      </div>
	    </div>
	    <div class="form-row mt-3 mb-2">
	      <div class="col-md-12">
		<div class="form-check">
		  <input class="form-check-input" v-model="ticketIsPaid" type="checkbox" id="inputTicketIsPaid">
		  <label class="form-check-label" for="inputTicketIsPaid">
		    Оплачен
		  </label>
		</div>
	      </div>
	    </div>
	    <div class="form-row">
	      <div class="col-md-12">
		<label for="inputTicketNote">Заметки</label>
		<input v-model="ticketNote" type="text" class="form-control" id="inputTicketNote" placeholder="комментарий" >
	      </div>
	    </div>
	    <button type="submit" @click="createTickets(tid)" class="btn btn-primary btn-block mt-4">Сохранить</button>&nbsp;
	  </form>
	</div>
      </div>
    </div>
  </modal>
  
  <modal name="modalVisits" :adaptive="true" width="70%" height="auto" :scrollable="true">
    <div class="container-fluid">
      <div class="row">
	&nbsp;
      </div>
      <div class="row">
	<div class="col-md-12">
	  <h3>Посещения</h3>
	  {{this.vid}} [details]
	</div>
      </div>
    </div>
  </modal>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h3>{{st.name}} <small v-if="st.is_deleted"> [удалён] <button type="button" class="btn btn-primary" @click="restoreStudent(st.id)"> восстановить</button></small></h3>
	<p v-if="st.lastvisit">
	  Последнее посещение {{st.lastvisit | moment("utc", "DD.MM.YY")}}
	</p>
	<p v-if="st.trainers">
	  Тренеры: {{st.trainers}}
	</p>
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
	
	<form v-on:submit.prevent>
	  <div class="form-row mb-3">
	    <div class="col">
	      <input v-model="st.bdate" class="form-control" type="date" id="studentBdate">
	    </div>
	    <div class="col">
	      <input v-model="st.name" type="text" class="form-control" id="inputName" placeholder="Имя" required>
	    </div>
	    <div class="col">
	      <input v-model="st.phone" type="text" class="form-control" id="inputPhone" placeholder="Телефон" required>
	    </div>
	    <div class="col">
	      <input v-model="st.email" type="email" class="form-control" id="inputEmail" placeholder="эл. почта" required>
	    </div>
	  </div>
	  <div class="form-row mb-3">
	    <div class="col-md-12">
	      Законный представитель:
	    </div>
	  </div>
	  <div class="form-row mb-3">
	    <div class="col">
	      <input v-model="st.parent_name" type="text" class="form-control" id="parentName" placeholder="Имя">
	    </div>
	    <div class="col">
	      <input v-model="st.parent_phone" type="text" class="form-control" id="parentPhone" placeholder="Дополнительный телефон">
	    </div>
	    <div class="col">
	      Пол
	      <div class="form-check form-check-inline">
		<input v-model="st.gender" class="form-check-input" type="radio" name="stGender" id="stGenderM" value="m">
		<label class="form-check-label" for="stGenderM">
		  М
		</label>
	      </div>
	      <div class="form-check form-check-inline">
		<input v-model="st.gender" class="form-check-input" type="radio" name="stGender" id="stGenderF" value="f">
		<label class="form-check-label" for="stGenderF">
		  Ж
		</label>
	      </div>
	    </div>
	  </div>

	  <div class="form-row">
	    <div class="col-md-1">
	      Номер договора
	      <input v-model="st.contract_id" type="text" class="form-control" id="inputContract" placeholder="Номер договора">
	    </div>
	    <div class="form-group col-md-3 mt-2">
	      <div class="form-check form-check-inline">
		<input v-model="st.is_confirmed" type="checkbox" class="form-check-input" id="inputCheckbox">
		<label class="form-check-label" for="inputCheckbox">
		  Подтвержден
		</label>
	      </div>
	    </div>
	    <div class="col-md-3">
	      <input type="text" :value="registered" readonly class="form-control-plaintext" id="staticRegDate">
	    </div>
	    <div class="col-md-2">
	      <input type="text" :value="confirmed" readonly class="form-control-plaintext" id="staticConfDate" >
	    </div>

	    <div class="col-md-1">
	      Добавил: {{st.added_by ? st.added_by.name : ""}}
	    </div>
	  </div>
	  <div class="form-row mb-3">
	    <div class="form-group col-md-4 mt-2">
	      <select v-model="st.grade"  class="form-control" id="inputGrade" placeholder="разряд" >
		<option>разряд</option>
		<option>III юношеский</option>
		<option>II юношеский</option>
		<option>I юношеский</option>
		<option>III спортивный</option>
		<option>II спортивный</option>
		<option>I спортивный</option>
		<option>КМС</option>
		<option>МС</option>
		<option>МСМК</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-row mt-3">
	    <div class="form-group col-md-12 mt-2">
	      <label class="form-check-label" for="studentNote">
		Заметки
	      </label>
	      <textarea rows=2 v-model="st.note" class="form-control"  id="studentNote"></textarea>
	    </div>
	  </div>
	  <button type="submit" @click="updateStudent()" class="btn btn-primary btn-block mt-4">Сохранить</button>
	</form>
	
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
	<div class="card-deck mt-4">
	  <div class="card border-light">
	    <div class="card-header">Тренировки <a @click="editLessons(-1)" class="btn btn-outline-primary ml-2"><img height="13px" class="mb-1" src="@/assets/plus.svg"></a></div>
	    
	    <div class="card-body">
	      <p class="card-text">
		<div class="list-group">
		  <span v-for="l in st.lessons" href="#" class="list-group-item list-group-item-action" v-if="iscurrent(l.start)">
		    {{l.start | moment("utc", "DD.MM.YY, HH:mm")}} {{l.gym}} {{l.group}} {{l.trainer}}
		    <br>
		    <div class="btn-group" role="group">
		      <button type="button" class="btn btn-outline-info btn-sm mt-2" v-on:click="editLessons(l.id)"><img height="9px" class="mb-0" src="@/assets/transfer.svg"></button>
		      <button type="button" class="btn btn-outline-danger btn-sm mt-2 ml-2" v-on:click="cancelLessons(l.id)"><img height="9px" class="mb-0" src="@/assets/x.svg"></button>
		    </div>
		  </span>
		</div>
	      </p>
	    </div>
	    <div class="card-footer">
	      
	    </div>
	  </div>
	  <div class="card border-light">
	    <div class="card-header">Группы <a @click="editGroups" class="btn btn-outline-primary ml-2"><img height="13px" class="mb-1" src="@/assets/plus.svg"></a></div>
	    <div class="card-body">
	      <p class="card-text">
		<div class="list-group">
		  <span v-for="g in st.studentgroup" href="#" class="list-group-item list-group-item-action">
		    {{g.name}}<br>{{g.gym.name}}<br>{{g.trainer.name}}<br>
		    {{g.weekdays}}
		    <br>
		    <div class="btn-group" role="group">
		      <button type="button" class="btn btn-sm btn-outline-info mt-2 ml-2" v-on:click="editGroups(g.id)"><img height="9px" class="mb-0" src="@/assets/pencil.svg"></button>
		      <button type="button" class="btn btn-sm btn-outline-danger mt-2 ml-2" v-on:click="cancelGroup(g.id)"><img height="9px" class="mb-0" src="@/assets/x.svg"></button>
		    </div>
		  </span>
		</div>
	      </p>
	    </div>
	    <div class="card-footer">
	      
	    </div>
	  </div>
	  <div class="card border-light">
	    <div class="card-header">Абонементы <a @click="editTickets(-1)" class="btn btn-outline-primary ml-2"><img height="13px" class="mb-1" src="@/assets/plus.svg"></a></div>
	    <div class="card-body">
	      <p class="card-text">
		<div class="list-group">
		  <span v-for="t in st.tickets" href="#" :class="t.isvalid? 'list-group-item list-group-item-action list-group-item-primary' : 'list-group-item list-group-item-action list-group-item-secondary'">
		    {{t.price.name}}
		    {{t.date | moment("DD.MM")}}<img height="13px" class="ml-1" src="@/assets/arrow-right.svg">&nbsp;{{t.ends | moment("DD.MM")}}
		    <br>
		    <span class="badge badge-light">{{t.visitsleft}} <img height="13px" class="mb-0" src="@/assets/check.svg"></span>
		    <span class="badge badge-light">{{t.transfers}} <img height="13px" class="mb-0 iconic-md" src="@/assets/transfer.svg"></span>
		    <span class="badge badge-light">{{t.cancels}} <img height="13px" class="mb-0" src="@/assets/ban.svg"></span>
		    <span v-if="!t.is_paid" class="badge badge-warning"><img height="13px" class="mb-0" src="@/assets/warning.svg"></span>
		    <div class="btn-group" role="group">
		      <button type="button" class="btn btn-sm btn-outline-info mt-2 ml-2" v-on:click="editTickets(t.id)"><img height="9px" class="mb-0" src="@/assets/pencil.svg"></button>
		      <button type="button" class="btn btn-sm btn-outline-danger mt-2 ml-2" v-on:click="cancelTicket(t.id)"><img height="9px" class="mb-0" :src="t.is_cancelled ? require( '@/assets/check.svg') : require( '@/assets/x.svg') "></button>
		    </div>
		  </span>
		</div>
	      </p>
	    </div>
	    <div class="card-footer">
	      
	    </div>
	  </div>
	  
	</div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
export default {
    name: 'Student',
    data: function (){
	return {
	    st: "",
	    lid: "",
	    gid: "",
	    tid: "",
	    ticket: "",
	    vid: "",
	    lessons: "",
	    groups: "",
	    prices: "",
	    price: "",
	    selectedLesson: "",
	    selectedGroups: [],
	    visitsLeft: 0,
	    transfers: 0,
	    cancels: 0,
	    ticketNote: "",
	    ticketIsPaid: false
	}
    },
    props: ['id', 'student'],
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
	registered () {
	    let regstring = "зарегистрирован " + this.$moment(this.st.registered_on).format("DD.MM.YY") 
	    return regstring
	},
	confirmed () {
	    let confstring = "подтвержден " + this.$moment(this.st.confirmed_on).format("DD.MM.YY") 
	    return confstring
	},
    },
    mounted() {
	this.fetchData(this.id)
    },
    methods: {
	iscurrent(d) {
	    let ldate = new Date(d)
	    let datemonth = ldate.getMonth()
	    let nowdate = new Date()
	    let nowmonth = nowdate.getMonth()
	    if (datemonth == nowmonth) {
		return true
	    }
	    return false
	},
	restoreStudent(stid) {
	    console.log(stid)
	    let patchdata = {
		is_deleted: false
	    }
	    this.$axios.patch(this.$backendhost+'students/'+this.st.id, patchdata)
		.then(request => this.fetchData(this.id))
		.catch(request => console.log(request))
	    this.flashSuccess("Данные обновлены", {timeout: 2000})

	},
	saveGroups() {
	    console.log("saving groups", this.id, this.selectedGroups)
	    let patchdata = { group_ids: this.selectedGroups, prev_groups: this.st.group_ids }
	    
	    this.$axios.patch(this.$backendhost+'students/'+this.id, patchdata)
		.then(request => {
		    this.fetchGroups()
		    this.fetchData(this.id)
		    this.$modal.hide('modalGroups')
		    })
		.catch(request => console.log(request))
	},
	transferLesson () {
	    console.log("Transfer lesson", this.lid, this.selectedLesson)
	    // patchdata
	    // patch student lesson
	    // remove student from lid and add to selectedLesson
	    let patchdata = {
		student_ids: [this.id]
	    }

	    if (this.lid > 0) {
		// add +1 transfer to the st.ticket
		let tkt = this.st.lastvalidticket
		let tkttransfers = tkt.transfers + 1
		this.$axios.patch(this.$backendhost+'tickets/' + tkt.id, {transfers: tkttransfers})

		this.$axios.delete(this.$backendhost+'lessons/'+this.lid +"/students/"+this.id)
		    .then(this.$axios.patch(this.$backendhost+'lessons/' + this.selectedLesson, patchdata)
			  .then( request => {
			      this.fetchData(this.id)
			      this.$modal.hide('modalLessons')
			  }
			       )
			 )
	    } else {
		console.log('adding lesson', patchdata)
		this.$axios.patch(this.$backendhost+'lessons/' + this.selectedLesson, patchdata)
		    .then( request => {
			this.fetchData(this.id)
			this.$modal.hide('modalLessons')
		    }
			 )
	    }
	},
	clearGroups () {
	    this.groups = ""
	},
	fetchPrices() {
	    this.$axios.get(this.$backendhost+'prices')
		.then(request => this.setData('prices', request))
		.catch(request => console.log(request))
	},
	fetchGroups () {
	    this.$axios.get(this.$backendhost+'groups')
		.then(request => {
		    this.setData('groups', request)
		    this.groups.forEach ( g => {
			if (this.st.group_ids.includes(g.id)) {
			    this.selectedGroups.push(g.id)
			}
		    }
					)
		    }
		     )
		.catch(request => console.log(request))
	},
	cancelLessons(lid) {
	    // adding +1 to ticket cancels
	    let tkt = this.st.lastvalidticket
	    let tktcancels = tkt.cancels + 1
	    this.$axios.patch(this.$backendhost+'tickets/' + tkt.id, {cancels: tktcancels})
	    
	    this.$axios.delete(this.$backendhost+'lessons/'+lid +"/students/"+this.id)
		.then(request => {
		    console.log("deleted")
		    this.fetchData(this.id)
		}
		     )
	},
	cancelGroup(gid) {
	    console.log('Cancelling group', gid, this.id)
	    this.$axios.delete(this.$backendhost+"groups/" + gid + '/students/' + this.id)
		.then(request => this.fetchData(this.id))
		.catch(request => console.log(request))
	    this.flashSuccess("Ученик удалён из группы", {timeout: 2000})
	},
	cancelTicket(tid) {
	    if (tid) {
		this.$axios.delete(this.$backendhost+"tickets/" + tid)
		    .then(request => this.fetchData(this.id))
		    .catch(request => console.log(request))
		this.flashSuccess("Абонемент удалён", {timeout: 2000})
	    }
	},
	clearLessons () {
	    this.fetchData(this.id)
	},
	fetchLessons () {
	    console.log("fetch lessons")
	    //switch to lessons
	    this.$axios.get(this.$backendhost+'lessons', {params: {from: "tomorrow", limit:"monthend", byday:1}})
		.then(request => this.setData('lessons', request))
		.catch(request => console.log(request))
	},
	clearGroups () {
	    this.gid = ""
	},
	editLessons(lid) {
	    this.lid = lid
	    this.$modal.show("modalLessons")
	},
	editGroups(gid) {
	    this.gid = gid
	    this.$modal.show("modalGroups")
	},
	editTickets(tid) {
	    this.tid = tid
	    if (tid < 0) {
		//POST
		this.price = ""
		this.ticketNote = ""
		//this.visitsLeft = 0
		this.cancels = 0
		this.transfers = 0
		this.ticketNote = ""
		this.ticket = ""
	    } else {
		let tkt = this.st.tickets.find(x => x.id === tid)
		this.ticket = tkt
		this.price = tkt.price.id
		this.ticketNote = tkt.note
		this.visitsLeft = tkt.visitsleft
		this.cancels = tkt.cancels
		this.transfers = tkt.transfers
		this.ticketNote = tkt.note
		this.ticketIsPaid = tkt.is_paid
	    }

	    this.$modal.show("modalTickets")
	},
	createTickets(tid) {
	    if (tid < 0) {
		let numvisits = this.prices.filter(x => x.id == this.price)[0].numvisits
		let postdata = { student_id: this.st.id,
				 note: this.ticketNote,
				 visitsleft: numvisits,
				 cancels: this.cancels,
				 transfers: this.transfers,
				 price_id: this.price,
				 is_paid: this.ticketIsPaid
				 
			       }
		this.$axios.post(this.$backendhost+'tickets', postdata)
		    .then(request => this.fetchData(this.id))
		    .catch(request => console.log(request))
	    } else {
		let patchdata = { student_id: this.st.id,
				  note: this.ticketNote,
				  visitsleft: this.visitsLeft,
				  cancels: this.cancels,
				  transfers: this.transfers,
				  price_id: this.price,
				  is_paid: this.ticketIsPaid
				}
		this.$axios.patch(this.$backendhost+'tickets/' + tid, patchdata)
		    .then(request => this.fetchData(this.id))
		    .catch(request => console.log(request))
	    }
	    this.flashSuccess("Абонемент изменен", {timeout: 2000})
	    this.$modal.hide('modalTickets')
	    this.ticketNote = ""
	    this.visitsLeft = 0
	    this.cancels = 0
	    this.transfers = 0
	    this.price = ""
	    this.ticket = ""
	    this.ticketIsPaid = false
	},
	editVisits(vid) {
	    this.vid = vid
	    this.$modal.show("modalVisits")
	    },
	updateStudent () {
	    let patchdata = {
		name: this.st.name,
		email: this.st.email,
		phone: this.st.phone,
		bdate: this.st.bdate,
		note: this.st.note,
		contract_id: this.st.contract_id,
		is_confirmed: this.st.is_confirmed,
		parent_name: this.st.parent_name,
		parent_bdate: this.st.parent_bdate,
		parent_phone: this.st.parent_phone,
		parent_email: this.st.parent_email,
		gender: this.st.gender,
		grade: this.st.grade
	    }
	    this.$axios.patch(this.$backendhost+'students/'+this.st.id, patchdata)
		.then(request => this.fetchData(this.id))
		.catch(request => console.log(request))
	    this.flashSuccess("Данные обновлены", {timeout: 2000})
	},
	fetchData (id) {
	    this.$axios.get(this.$backendhost+'students/'+id)
		.then(request => this.setData("st",request))
		.catch(request => console.log(request))
	    this.fetchPrices()
	},
	setData(obj, response) {
	    if (obj === "st") {
		this.st = response.data
		this.st.parent_bdate = this.$moment(this.st.parent_bdate).format("YYYY-MM-DD")
	    } else if (obj === "lessons") {
		this.lessons = response.data
		console.log(response.data)
	    } else if (obj === "groups") {
		this.groups = response.data
	    } else if (obj === "prices") {
		this.prices = response.data
	    }
	}
    },
}
      
</script>

<style>
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  }
</style>
