<template>
<div class="groups">
  <div class="row">
    <div class="col-md-12" v-for="day, key in days">
      <br>
      <h4>{{key | moment("dddd, Do MMMM YYYY")}}</h4>
      <lesson v-for="l in day" :key="l.id" :lessondata="l" :trainers="trainers"></lesson>
    </div>
  </div>
</div>
</template>


<script>
import { mapGetters } from 'vuex'
import Lesson from './Lesson'
export default {
    name: 'Timetable',
    data: function () {
	return {
	    days: [],
	    trainers: []
	}
    },
    components: {
	Lesson,
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'}),
    },
    created() {
	this.fetchData()
    },
    watch: {
	'$route': 'fetchData'
    },
    methods: {
	fetchData() {
	    // to get lessons groupped by days, pass staff_id param
	    this.$axios.get(this.$backendhost+'lessons', {params: {from: "yesterday", limit:7, staff_id:this.currentUser.user_id, byday:1}})
		.then(request => this.setData('days', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'staff', {params: {role: "trainer"}})
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    
   	},
	setData (what, response){
	    if (what == 'days') {
		this.days = response.data
	    } else if (what == 'trainers') {
		let trainers = response.data
		trainers = trainers.filter(tr => tr.id != this.currentUser.user_id)
		this.trainers = trainers
	    } else {
		return
	    }
	},
    }
}
	
</script>
