<template>
<div class="trainings">
  <div class="container-fluid">
    <h1>Расписание</h1>
    <p>
      Только для замен, индивидуальных занятий, сплитов и мини-групп. Групповые занятия синхронизированы с https://o-skal.ru
    </p>
    <flash-message transition-name="fade"></flash-message>
    <div class="row">
      <div class="col-md-3">
	<form v-on:submit.prevent>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <input v-model="groupDate" @change="dateChange()" class="form-control" type="date" id="groupDate" required aria-describedby="groupDateHelp">
	      <small id="groupDateHelp" class="form-text text-muted">
		дата
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <input v-model="groupStartTime" class="form-control" type="time"  id="groupStartTime" required aria-describedby="groupTimeStartHelp">
	      <small id="groupTimeStartHelp" class="form-text text-muted">
		время начала
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <input v-model="groupEndTime" class="form-control" type="time" value="" id="groupEndTime" required aria-describedby="groupTimeEndHelp">
	      <small id="groupTimeStartHelp" class="form-text text-muted">
		время окончания
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <select v-model="groupTrainer"  class="form-control" id="inputTrainer" placeholder="тренер" @change="filterGroups" aria-describedby="groupTrainerHelp">
		<option value="" selected>тренер</option>
		<option :value="tr.id" v-for="tr in trainers">{{tr.name}}</option>
	      </select>
	      <small id="groupTrainerHelp" class="form-text text-muted">
		тренер
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <select v-model="groupStrainer"  class="form-control" id="inputStrainer" placeholder="второй тренер" @change="eventSave" aria-describedby="groupSecondTrainerHelp">
		<option value="" selected>второй тренер</option>
		<option :value="tr.id" v-for="tr in trainers">{{tr.name}}</option>
	      </select>
	      <small id="groupSecondTrainerHelp" class="form-text text-muted">
		второй тренер
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <select v-model="groupGym"  class="form-control" id="inputGym" placeholder="зал"  @change="filterGroups" aria-describedby="groupGymHelp">
		<option value="" selected>зал</option>
		<option :value="gym.id" v-for="gym in gyms">{{gym.name}}</option>
	      </select>
	      <small id="groupGymHelp" class="form-text text-muted">
		зал
	      </small>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <select v-model="eventType"  class="form-control" id="inputEventType" placeholder="тип" @change="eventSave" aria-describedby="groupLessonTypeHelp">
		<option value="group">группа</option>
		<option value="personal">индивидуально</option>
		<option value="split">сплит (2 человека)</option>
		<option value="mini">мини-группа (до 4 человек)</option>
	      </select>
	      <small id="groupLessonTypeHelp" class="form-text text-muted">
		тип занятия
	      </small>
      	    </div>
	  </div>
	  <div class="form-row" v-if="eventType == 'group'">
	    <div class="form-group col-md-12">
	      <select v-model="groupName"  class="form-control" id="inputGroupName" placeholder="группа" @change="eventSave">
		<option value="" selected>группа</option>
		<option :value="group.id" v-for="group in fgroups">{{group.name}}</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-12">
	      <textarea rows=2 v-model="eventNote" class="form-control"  value="" id="eventNote" aria-describedby="groupLessonNoteHelp"></textarea>
	      <small id="groupLessonNoteHelp" class="form-text text-muted">
		заметки
	      </small>
	    </div>
	  </div>
	  
		  

	  <div class="form-row">
	    <div class="col-md-6">
	      <button @click="eventSave()" class="btn btn-primary btn-block">сохранить</button>
	    </div>
	    <div class="col-md-6">
	      <button @click="eventDelete()" class="btn btn-block">удалить</button>
	    </div>

	  </div>
	</form>
	
      </div>
      <div class="col-md-9">
	<full-calendar :events="events" :config="config" @event-created="eventCreated" @event-selected="eventSelected" @event-resize="eventSelected" @event-drop="eventSelected" @view-render="updateLessons" ref="calendar"></full-calendar>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import { FullCalendar } from 'vue-full-calendar'
import 'fullcalendar/dist/fullcalendar.css'
import 'fullcalendar/dist/locale/ru'
import { uuid } from 'vue-uuid';
export default {
    name: 'Trainings',
    data () {
	return {
	    newEvent: true,
	    groupGym: "",
	    groupName: "",
	    groupDate: "",
	    groupTrainer: "",
	    groupStrainer: "",
	    groupStartTime: "",
	    groupEndTime: "",
	    eventType: "",
	    eventNote: "",
	    eventID: "",
	    eventTitle: "",
	    groups: "",
	    fgroups:  "",
	    gyms: "",
	    trainers: "",
	    config: {
		locale: 'ru',
	    },
	    events: [
	    ]
	}
    },
    components: {
	FullCalendar,
	uuid,
    },
    created () {
	this.fetchData()
    },
        watch: {
	'$route': 'fetchData'
    },
    methods: {
	moment: function () {
	    return moment();
	},
	filterGroups () {
	    if (this.groupTrainer) {
		 this.fgroups = this.groups.filter(x => x.trainer.id === this.groupTrainer).filter(g => g.gym.id === this.groupGym)
	    } else {
		this.fgroups = this.groups
	    }
	},
	fetchData() {
	    this.$axios.get(this.$backendhost+'gyms')
		.then(request => this.setData('gyms', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'staff', {params: {role: "trainer"}})
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    this.$axios.get(this.$backendhost+'groups')
		.then(request => this.setData('groups', request))
		.catch(request => console.log(request))
        },
	setData (what, response){
	    if (what == 'gyms') {
		this.gyms = response.data
	    }else if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
		this.fgroups = this.groups
	    } else if (what == 'lessons') {
		this.events = response.data
	    }
	},
	updateFields (event) {
	    this.groupStartTime = event.start.format("HH:mm:ss")
	    this.groupEndTime = event.end.format("HH:mm:ss")
	    this.groupDate = event.start.format("YYYY-MM-DD")
	    this.eventNote = event.note
	    this.groupTrainer = event.trainer_id
	    this.groupStrainer = event.strainer_id
	    this.eventType = event.lessontype
	    this.groupName = event.group_id
	    this.groupGym = event.gym_id
	},
	eventCreated (event) {
	    console.log("event created")
	    
	    let newid = uuid.v4()
	    let newevent = {id : newid,
			    title: "",
			    start: event.start.format("YYYY-MM-DD HH:mm:ss"),
			    end: event.end.format("YYYY-MM-DD HH:mm:ss"),
			    defaultTimedEventDuration: "02:00:00",
			    note: this.eventNote,
			    newEvent: true,
			    date: event.start.format("YYYY-MM-DD"),
			    //group_id: this.groupName,
			    trainer_id: this.groupTrainer,
			    strainer_id: this.groupStrainer,
			    lessontype: this.eventType
			   }
	    if (this.groupName) {
		newevent.group_id = this.groupName
	    }
	    this.eventID = newevent.id
	    this.events.push(newevent)
	    this.updateFields(event)
	},
	eventSelected (event, jsEvent, view) {
	    //console.log("select event", event.title)
	    this.eventID = event.id
	    this.updateFields(event)
	    this.eventSave()
	    
	},
	eventSave () {
	    console.log("save event"+this.eventID+"trololo")
	    if ( this.groupGym && this.eventID) {
		let group_name = null
		let fnd = ""
		fnd = this.groups.find(x => x.id === this.groupName)
		if (fnd) {
		    group_name = fnd.name
		} else {
		    group_name = ""
		}
		//console.log("GROUPNAME", group_name, this.groupName)
		this.filterGroups()
		let gym_name = this.gyms.find(x => x.id === this.groupGym).name
		let trainer_name = this.trainers.find(x => x.id === this.groupTrainer).name
		let event_id = this.events.findIndex(x => x.id === this.eventID)
		let event = this.events[event_id]
		let event_note = ""
		if (this.eventNote) {
		    event_note = this.eventNote
		}
		this.eventTitle = trainer_name + "\n" + group_name + "\n" + gym_name + "\n" + event_note

		//console.log("EVENT TITLE", this.eventTitle)
		if ( this.groupName ) {
		    event.group_id = this.groupName
		}
		
		event.gym_id = this.groupGym
		event.start = this.groupDate + ' ' + this.groupStartTime
		event.end = this.groupDate + ' ' + this.groupEndTime
		event.note = this.eventNote
		event.date = this.groupDate
		event.trainer_id = this.groupTrainer
		event.strainer_id = this.groupStrainer
		event.lessontype = this.eventType
		event.title = this.eventTitle
		//console.log(event.title)
		this.events[event_id] = event

		// allow empty groups
		if (this.groupGym) {
		    this.eventCommit(event)
		}
	    }
  	},
	eventCommit(event) {
	    //console.log(event.title)
	    if (isNaN(event.id)) {
		let postdata = {
		    gym_id: event.gym_id,
		    group_id: event.group_id,
		    title: event.title,
		    note: event.note,
		    start: event.start,
		    end: event.end,
		    date: event.date,
		    lesson_id: event.id,
		    trainer_id: this.groupTrainer,
		    strainer_id: this.groupStrainer,
		    lessontype: this.eventType
		    
		}
		//POST
		this.$axios.post(this.$backendhost+'lessons', postdata)
		    .then(request => this.updateEvents(request, "Тренировка добавлено", event))
		    .catch(request => console.log(request))
	    } else {

		let patchdata = {
		    gym_id: event.gym_id,
		    group_id: event.group_id,
		    title: event.title,
		    note: event.note,
		    start: event.start,
		    end: event.end,
		    date: event.date,
		    lesson_id: event.id,
		    trainer_id: event.trainer_id,
		    strainer_id: event.strainer_id,
		    lessontype: event.lessontype
		}
		this.$axios.patch(this.$backendhost+'lessons/' + event.id, patchdata)
		    .then(request => this.updateEvents(request, "Тренировка добавлено", event))
		    .catch(request => console.log(request))
		
	    }
	    // add all group's students to the lesson
	},
	updateEvents(request, message, prevevent) {
	    console.log("update events")
	    //this.events[prevevent.id] = request.data
	    let previndex = this.events.findIndex(x => x.id === prevevent.id)
	    this.events.splice(previndex, 1, request.data)
	    //this.flashSuccess(message, {timeout: 2000})
	    this.$refs.calendar.$emit('refetch-events')
	    
	},
	clearFields () {
	    this.eventID = ""
	    this.groupStartTime = ""
	    this.groupEndTime = ""
	    this.groupDate = ""
	    this.groupName = ""
	    this.groupGym = ""
	    this.eventNote = ""
	    this.groupTrainer = ""
	    this.groupStrainer = ""
	    this.eventType = ""
	    this.eventTitle = ""
	    
	},
	eventDelete () {
	    let id = this.events.findIndex(x => x.id === this.eventID)
	    this.events.splice(id,1)
	    this.$refs.calendar.$emit('refetch-events')
	    //update database
	    this.$axios.delete(this.$backendhost+'lessons/' + this.eventID)
		.then(request => console.log('deleted'))
		.catch(request => console.log(request))
	    this.clearFields()

	    
	},
	updateLessons(view, element) {
	    let stdate = this.$moment(view.intervalStart).format('YYYY-MM-DD')
	    let enddate = this.$moment(view.intervalEnd).format('YYYY-MM-DD')

	    let getdata = {params: { from: stdate,
				     to: enddate
				     // excl: 'group'
				   }
			  }
	    
	    this.$axios.get(this.$backendhost+'lessons', getdata)
		.then(request => this.setData('lessons', request))
		.catch(request => console.log(request))

	    }
    },
    mounted() {
    }
}


</script>

<style>
  .fc {
  font-size: 0.7em  !important;
  }
</style>
