<template>
<div class="students">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
	<h1>Посещения {{this.numVisits}} </h1>
	<h5 v-if="stTrainer">{{this.stTrainer.name}}, {{this.stGym.name}}, {{this.stGroup.name}}</h5>
	<p>
	  &nbsp;<flash-message transition-name="fade"></flash-message>
	</p>
	
	<form class="form-inline mb-3" v-on:submit.prevent="studentAdditionalFilter">
	  
	  <div class="form-group col-md-12">
	    <span :v-model="filterMessage">{{filterMessage}}</span>
	    <input v-model="studentFilterData" type="text" class="form-control" id="searchStudents" placeholder="имя, телефон или email" >

	    <span :v-model="filterAdditionalMessage">{{filterAdditionalMessage}}</span>
	    <select v-model="stTrainer"  class="form-control col-md-3 ml-2" id="searchTrainer" @change="getGyms" @focus="clearSearch">
	      <option></option>
	      <option v-for="tr in trainers" :value="tr">{{tr.name}}</option>
	    </select>

	    <select v-model="stGym" v-if="gyms.length" class="form-control col-md-3 ml-2" id="searchGym" @change="getGroups">
	      <option></option>
	      <option v-for="gm in gyms" :value="gm">{{gm.name}}</option>
	    </select>
	    
	    <select v-model="stGroup" v-if="groups.length" class="form-control col-md-3 ml-2" id="searchGroups" >
	      <option></option>
	      <option v-for="gr in groups" :value="gr">{{gr.name}} ({{gr.numstudents}})</option>
	    </select>

	  </div>
	  <div class="form-group col-md-4 mt-2">
	    <input v-model="visitsFrom" class="form-control" type="date" id="visitsFrom">
	    <input v-model="visitsTo" class="form-control ml-2" type="date" id="visitsTo">
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" v-model="showCancelled" id="cancelledCheck">
	      <label class="form-check-label" for="cancelledCheck">
		показывать отмененные посещения
	      </label>
	    </div>
	    <div class="form-group ml-2">
	      <button class="btn btn-primary" type="submit">Найти</button>
	    </div>

	  </div>
	</form>
	<table class="table table-striped table-hover" v-if="visits">
	  <small>

	    <thead>
	      <tr>
		<th scope="col">#</th>
		<th scope="col">время</th>
		<!--<th scope="col">отмечен</th>-->
		<th scope="col">имя</th>
		<th scope="col">тренер</th>
		<th scope="col">зал</th>
		<th scope="col">группа</th>
		<th scope="col">последняя правка</th>
		<th v-if="currentUser.isadmin" scope="col"></th>
		<th v-if="currentUser.superadmin" scope="col"></th>
		
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="align-middle" v-for="(vis, index) in visits">
		<th class="align-middle" scope="row">{{index + 1}}</th>
		<td class="align-middle">{{vis.lesson.start | moment("utc", "DD.MM.YY, HH:mm")}}</td>
		<!--<td class="align-middle">{{vis.datetime | moment("utc", "DD.MM.YY, HH:mm")}}</td>-->
		<td class="align-middle">{{vis.student.name}}</td>
		<td class="align-middle">{{vis.lesson.trainer.split(" ")[2]}}</td>
		<td class="align-middle">{{vis.lesson.gym}}</td>
		<td class="align-middle">{{vis.lesson.group}}</td>
		<td class="align-middle">{{vis.edited | moment("utc", "DD.MM.YY, HH:mm")}} {{vis.edited_by ? vis.edited_by.name : vis.lesson.trainer.split(" ")[2]}}</td>
		<td v-if="currentUser.isadmin"><router-link type="button" class="btn btn-outline-secondary align-bottom" :to="{ name: 'Student', params: {id: vis.student.id, student:vis.st}}"><img class="mb-1" height="13px" src="@/assets/info.svg"></router-link></td>
		<td class="align-middle"><listbutton :stid="vis.student.id" :lid="vis.lesson.id" :stname="vis.student.name.split(' ').slice(0,2).join(' ')" :editable="vis.student.lastvalidticket.id" :hasticket=true :staffid="currentUser.user_id"></listbutton></td>
	      </tr>
	    </tbody>
	  </small>
	</table>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import Listbutton from './Listbutton'

export default {
    name: 'Visits',
    components: {
	Listbutton
    },
    data: function (){
	return {
	    visits: "",
	    visitsFrom:"",
	    visitsTo:"",
	    studentFilterData: "",
	    filterMessage: "",
	    studentAdditionalData: "",
	    filterAdditionalMessage: "",
	    trainers:"",
	    gyms:"",
	    groups:"",
	    stTrainer: "",
	    stGym: "",
	    stGroup: "",
	    numVisits: "",
	    showCancelled: false
	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    mounted() {
	this.fetchData()
    },
    methods: {
	clearSearch() {
	    this.groups = ""
	    this.gyms = ""
	    this.stGym = ""
	    this.stGroup = ""
	    this.numVisits = ""
	    this.visitsTo = ""
	    this.visitsFrom = ""
	},
	getGyms() {
	    this.studentFilterData = ''
	    this.$axios.get(this.$backendhost+'gyms', {'params': {'staff': this.stTrainer.id}})
		.then(request => this.setData('gyms', request))
		.catch(request => { console.log(request)
				    this.gyms = ""
				  })
	},
	getGroups() {
	    this.$axios.get(this.$backendhost+'groups', {'params': {'gym': this.stGym.id, 'staff': this.stTrainer.id}})
		.then(request => this.setData('groups', request))
		.catch(request => {console.log(request)
				   this.groups = ""
				  })
	},

	studentFilter () {
	    this.clearSearch()
	    if (this.studentFilterData && this.studentFilterData.length > 2) {
		
		this.$axios.get(this.$backendhost+"visits", {'params':{'query': this.studentFilterData}})
		    .then(request => this.setData('visits', request))
		    .catch(request => {this.flashWarning('Данных не найдено', {timeout: 6000})
				       this.visits = ""
				      })
	    } else {
		this.visits = null
		this.filterMessage = ""
	    }
	},
	studentAdditionalFilter () {
	    console.log(this.visitsFrom, this.visitsTo)
	    let query = {
		'params': {
		    'group': this.stGroup.id
		}
	    }
	    query['params'].query = this.studentFilterData
	    query['params'].gym_id = this.stGym.id
	    query['params'].staff_id = this.stTrainer.id
	    
	    query['params'].show_cancelled = this.showCancelled
	    console.log(query['params'])
	    if ( this.visitsFrom.length > 0 ) {
		query['params'].from = this.visitsFrom
	    }
	    if ( this.visitsTo.length > 0 ) {
		query['params'].to = this.visitsTo
	    }
	    this.$axios.get(this.$backendhost+"visits", query)
		.then(request => this.setData('visits', request))
		.catch(request => {this.flashWarning('Данных не найдено', {timeout: 6000})
				   this.visits = ""
				  })
	},
	fetchData () {
	    this.$axios.get(this.$backendhost+'staff', {'params': {'staff': 'trainers'}})
		.then(request => this.setData('trainers', request))
		.catch(request => console.log(request))
	    
	},
	setData(what, response) {
	    if (what == 'visits') {
		this.visits = response.data
		this.numVisits = ", найдено " + this.visits.length
	    } else if (what == 'trainers') {
		this.trainers = response.data
	    } else if (what == 'gyms') {
		this.gyms = response.data
	    } else if (what == 'groups') {
		this.groups = response.data
	    }
	}
    },
}
      
</script>

<style>
.table-sm{
  font-size: 14px;
}
</style>>
