<template>
<div id="app">
  <navbar></navbar>
  <div class="container-fluid">
    <router-view></router-view>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import Navbar from '@/components/Navbar'
import Foot from '@/components/Foot'
import { mapGetters } from 'vuex'

const API_URL = process.env.API_URL || 'http://localhost:3000/api/v1'

export default {
    name: 'App',
    computed: {
	...mapGetters({ currentUser: 'currentUser' })
    },
    created () {
    this.checkCurrentLogin()
    },
    updated () {
	this.checkCurrentLogin()
    },
    methods: {
	checkCurrentLogin () {
	    if (!localStorage.user) {
		this.$router.push('/login')
	    } else {
		this.$store.dispatch('login')
		}
	}
    },
    components: {
	Navbar,
	Foot
    }
}
</script>

<style>
#app {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
